.faqs
  color: $BLACK
  padding: 50px 0 175px 0
  margin-bottom: 100px
  +xs
    padding: 22px 0 50px 0
    margin-bottom: 70px
  &__in
    max-width: 779px
  &__title
    font-size: 35px
    margin-bottom: 63px
    text-align: center
    +tr(all .3s ease-in)
    +xs
      font-size: 24px
      margin-bottom: 33px
      padding-left: 30px
.faqs__list-item
  border-bottom: 1px solid rgba(44,41,41, 0.2)
  padding-bottom: 39px
  opacity: 0
  +tr(all .3s ease-in)
  &:not(:last-child)
    margin-bottom: 39px
    +sm
      margin-bottom: 20px
  +sm
    padding-bottom: 25px
.faqs__list-title
  font-size: 18px
  position: relative
  padding-left: 40px
  cursor: pointer
  font-weight: 700
  +r(1024)
    line-height: 22px
  +sm
    font-size: 15px
    padding-left: 30px
  &.is-active
    &:after
      display: none
  &:before,
  &:after
    content: ''
    z-index: 1
    display: block
    position: absolute
    width: 15px
    height: 3px
    top: 9px
    left: 0
    background-color: #9f4a7e
    +tr(all .3s ease-in)
  &:after
    transform: rotate(90deg)
.faqs__list-content
  padding: 0 40px
  line-height: 28px
  font-weight: 500
  font-size: 16px
  max-height: 0
  +tr(all .3s ease-in)
  overflow: hidden
  +sm
    font-size: 15px
    line-height: 21px
    padding: 0 30px
  p
    padding-top: 25px
    +sm
      padding-top: 17px