.guarantee
  padding: 100px 0
  text-align: center
  color: $BLACK
  &__in
    max-width: 882px
  &__title
    text-transform: uppercase
    font-size: 25px
    padding-top: 96px
    position: relative
    &:before
      content: ''
      z-index: 1
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      width: 61px
      height: 62px
      background: url(../img/svg/icon-garantee.svg)center no-repeat
      margin: auto
  &__subtitle
    margin: 27px 0 24px 0
    font-size: 22px
    font-weight: 700
  &__text
    font-size: 18px
    font-weight: 500
    line-height: 28px
    padding: 0 71px