.member-in
  padding: 40px 66px
.member
  &__step
    // display: none
    // &.is-active
      // display: block
  &__in
    max-width: 780px
    text-align: center
  &__title
    font-weight: 800
    font-size: 35px
  &__subtitle
    margin: 47px 0 70px
    font-size: 22px
    span
      color: #b84278
      font-weight: 700
  &__col
    @extend %flex
    justify-content: center
    margin-bottom: 78px
  &__note
    font-size: 22px
  &__footer
    font-weight: 500
    font-size: 16px
    line-height: 28px
  &__security
    margin-top: 52px
.member-item
  max-width: 500px
  width: 100%
  box-shadow: 0 5px 17px 4px rgba(0, 0, 0, 0.08)
  border-radius: 5px
  background-color: #ffffff
  &__m30
    margin-left: 30px
  // padding: 40px 66px
  &__head
    font-weight: 600
    line-height: 28px
    font-size: 20px
  &__form
    margin: 60px 0 35px
    .form__field
      &:last-of-type
        margin-top: 44px
        text-align: center
  &__black
    color: $BLACK
    .member-item__price
      color: #b84278
  &__form
    text-align: initial
    max-width: 385px
    .form__input
      border-color: rgba(#5f5d5d,0.5)
  &__gray
    color: #2c292966
    .member-item__price
      &:before
        content: ''
        z-index: 0
        display: block
        position: absolute
        top: 58%
        transform: translateY(-50%)
        width: 100%
        height: 2px
        left: 0
        background: rgba(#2c2929, 0.4)
  &__purple
    color: #b84278
    .member-item__title
      color: $BLACK
  &__desc
    font-size: 15px
    font-weight: 600
    margin-bottom: 36px
    text-transform: uppercase
    b
      font-weight: 800
  &__title
    font-size: 24px
  &__col
    text-transform: uppercase
    font-weight: 800
    margin: 36px 0 41px 0
    p
      font-size: 15px
      margin-bottom: 10px
  &__price
    position: relative
    font-size: 45px
    font-weight: 800
  &__info
    font-size: 14px
    font-weight: 500