node_modules/
dev/
prod/
src/img/.DS_Store
.idea
.DS_Store
src/.DS_Store
src/img/.DS_Store
src/img/content/.DS_Store
src/img/favicon/.DS_Store
src/img/svg/.DS_Store
src/img/.DS_Store
src/.DS_Store
.DS_Store
src/img/.DS_Store
src/img/svg/.DS_Store
