.hero
  padding: 100px 0
  color: $BLACK
  &__in
    max-width: 855px
  &__text
    margin: 30px 0
    font-weight: 500
    line-height: 30px
    padding: 0 40px
    span
      color: $STORY_COLOR
      font-weight: 700
  &__video
    position: relative
    margin: 80px auto 55px
    width: 100%
    iframe
      width: 100%
      min-height: 460px
  &__shape
    position: absolute
    width: 100%
    bottom: 0
    left: 0
  &__title
    text-align: center
    font-weight: 700
    font-size: 28px
    line-height: 42px
    max-width: 567px
    margin: 67px auto 78px
    span
      color: $STORY_COLOR
.hero__title-m100
  margin: 85px auto 100px