.numbers
  padding-bottom: 100px
  &__in
    flex-direction: column
    align-items: center
    max-width: 890px
  &__top
    flex: 1 0 auto
    margin-bottom: 50px
    width: 100%
    img
      max-width: 100%
      max-height: 100%
  //   svg
  //     fill: #f5435a
  // &__svg
  //   width: 140px
  //   height: 145px
  &__footer
    flex-shrink: 0
    font-weight: 700
    color: $BLACK
    font-size: 30px
    letter-spacing: 0.5px
    span
      font-weight: 800
      color: #f5435a