.plus
  // height: 100vh
  // display: flex
  // justify-content: center
  // align-items: center
  +tr(all .3s ease-in)
  &__coaching
    // padding: 140px 0
    padding: 220px 0 180px 0
    +r(1024)
      padding: 175px 0 50px
    +xs
      padding: 159px 0 10px
    .plus__body
      font-size: 26px
      line-height: 38px
      +sm
        font-size: 22px
      +xs
        font-size: 18px
        line-height: 28px
  &__community
    padding: 170px 0 60px 0
    +r(1200)
      padding-top: 140px
    +r(1024)
      padding-top: 60px
    +xs
      padding-bottom: 22px
    .plus__col
      position: relative
      height: 100%
      padding-bottom: 40%
      +r(1024)
        padding-bottom: 0
  &__audio
    padding: 150px 0
    +r(1024)
      padding-bottom: 0
    +sm
      padding-top: 100px 
    .plus__col
      max-width: 510px
    .plus__body
      font-size: 26px
      +sm
        font-size: 18px
  &__app
    padding-top: 70px
    .plus__body
      margin: 15px 0 48px 0
      +xs
        margin: 18px 0
  &__book
    padding: 64px 0 80px
    +r(1024)
      padding-top: 155px
    +sm
      padding-top: 105px
      .plus__title h2
        font-size: 35px
      .plus__title p
        font-size: 19px
        padding: 7px 0 24px 0
      .plus__subtitle
        font-size: 17px
        line-height: 24px
        p
          br
            display: none
  &__in
    max-width: 980px
  &__col
    max-width: 570px
    width: 100%
  &__title
    h2
      color: $BLACK
      font-size: 65px
      line-height: 70px
      +r(1024)
        font-size: 47px
        line-height: 60px
      +sm
        font-size: 40px
        line-height: 50px
      +xs
        font-size: 30px
        line-height: 38px
    span
      color: #da3d56
    p
      color: #da3d57
      font-size: 38px
      padding: 17px 0
      font-weight: 500
      +r(1200)
        font-size: 28px
  &__subtitle
    font-size: 20px
    font-weight: 600
    line-height: 30px
  &__list
    margin: 50px 0
    +r(1200)
      padding-right: 120px
    +sm
      padding-right: 0
      margin: 23px 0
  &__button
    padding-left: 35px
  &__item
    position: relative
    padding-left: 35px
    +sm
      padding-left: 28px
    &:not(:last-child)
      margin-bottom: 20px
      +r(1200)
        margin-bottom: 15px
    p
      font-size: 19px
      color: $BLACK
      font-weight: 500
      line-height: 30px
      +r(1200)
        font-size: 16px
        line-height: 26px
    &:before
      content: ''
      z-index: 1
      display: block
      position: absolute
      top: 7px
      left: 0
      width: 16px
      height: 12px
      background: url(../img/svg/tick.svg)center no-repeat
  &__img
    display: none
    position: relative
    padding-top: 120%
    img
      +vcenter
      top: 60%
      left: 44%
      z-index: -1
      width: 120%
      max-width: 455px
      height: auto
    +r(1024)
      display: block
  &__body
    margin: 15px 0
    color: $BLACK 
    font-size: 28px	
    line-height: 40px
    font-weight: 500
    +r(1200)
      font-size: 21px
      max-width: 390px
    +r(1024)
      max-width: 100%
    +xs
      font-size: 18px
      line-height: 29px
      br
        display: none    
  &__tabs
    color: $BLACK
    position: absolute
    top: 0
    left: 0
    opacity: 0
    visibility: hidden
    +tr(all .3s ease-in)
    &.is-active
      opacity: 1
      visibility: visible
    +r(1024)
      position: static
      opacity: 1
      visibility: visible
    h2
      font-size: 48px
      line-height: 52px
    &:first-of-type
      h2
        +sm
          font-size: 32px
          line-height: 39px
    &:last-of-type
      h2
        +sm
          font-size: 30px
          line-height: 39px
      span
        +xs
          margin: 17px 0
    span
      display: block
      margin: 29px 0 26px 0
      color: #c03557
      font-weight: 600
      font-size: 26px
      +xs
        font-size: 18px
        margin: 25px 0 20px
    p
      font-size: 17px
      line-height: 29px
      font-weight: 500
      max-width: 480px
      +xs
        font-size: 15px
        line-height: 24px

.plus__title-blue
  span
    color: #32a1ac
    +r(1024)
      display: block
.plus__title-app
  h2
    font-size: 62px
    +sm
      font-size: 40px
    +xs
      font-size: 32px
  span
    color: #619eb8
.plus__title-coaching
  span
    color: #f75870
.plus__title-book
  h2
    line-height: 66px
    +r(1200)
      font-size: 45px
      line-height: 55px
      span
        display: block

.cd-words-wrapper
  color: #619eb8
  font-size: 30px
  z-index: 1
  +xs
    font-size: 26px
.cd-headline.rotate-1 .cd-words-wrapper 
  display: inline-block
  perspective: 300px
  width: 100%
.cd-headline.rotate-1 b 
  opacity: 0
  transform-origin: 50% 100%
  transform: rotateX(180deg)
  display: inline-block
  position: absolute
  left: 0
  top: 0


.cd-headline.rotate-1 b.is-visible 
  position: relative
  opacity: 1
  transform: rotateX(0deg)
.cd-headline.rotate-1 b 
  opacity: 0
  transform-origin: 50% 100%
  transform: rotateX(180deg)
  display: inline-block
  position: absolute
  left: 0
  width: 100%
  top: 0

.cd-headline.rotate-1 b.is-visible 
  position: relative
  opacity: 1
  transform: rotateX(0deg)
  animation: cd-rotate-1-in 1.2s

.cd-headline.rotate-1 b.is-hidden 
  transform: rotateX(180deg)
  animation: cd-rotate-1-out 1.2s



