{% include "partials/head.html" %}

<body class="is-appage">

  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->


  <div id="out">
    <main id="viewBox">
      <!-- BEGIN  promo-->
      <section class="promo promo__app" id="promo">
        <div class="promo__layer promo__layer-app">
          <svg class="promo__shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 145.3" preserveAspectRatio="xMidYMid slice">
            <defs>
              <linearGradient id="linear-app" x1="600" y1="600.3" x2="600" y2="455" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#616197" />
                <stop offset="1" stop-color="#616197" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 5" d="M1200 460.9c-86.9-7.7-281-11.3-524.2 68.8-225.7 74.3-443 89-675.9 48.4V455H1200z"
              transform="translate(0 -455)" fill-rule="evenodd" fill="url(#linear-app)" />
          </svg>
        </div>

        <div class="promo__in inner flex">
          <div class="promo__col">

            <div class="promo__text">
              You do not end an anxiety problem by trying to be calm. You end it by
              <b>acting bravely!</b>
            </div>
            <div class="promo__subtitle">
              Download the new DARE app to walk you
              <br> through anxious situations as they arise.
            </div>
            <div class="promo__btn">

              <a href="" class="link link-app">
                <svg class="link-app__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="170" height="70" viewBox="0 0 176 72" style="enable-background:new 0 0 176 72;"
                  xml:space="preserve">
                  <g>
                    <path class="st-border" d="M167.7,70.2H8.4c-3.6,0-6.4-2.8-6.4-6.3V7.7c0-3.5,2.9-6.3,6.4-6.3h159.4c3.6,0,6.4,2.8,6.4,6.3v56.2
		C174.3,67.4,171.3,70.2,167.7,70.2z"></path>
                  </g>
                  <g>
                    <g class="group-title">
                      <path d="M44,34.9c0-3.6,3-5.4,3.1-5.5c-1.7-2.5-4.4-2.8-5.3-2.9c-2.2-0.2-4.4,1.3-5.5,1.3
						c-1.2,0-2.9-1.3-4.8-1.3c-2.4,0-4.7,1.4-5.9,3.6C23,34.5,24.9,41,27.4,44.6c1.2,1.8,2.7,3.7,4.5,3.6c1.8-0.1,2.5-1.2,4.7-1.2
						c2.2,0,2.8,1.2,4.8,1.1c2,0,3.2-1.8,4.4-3.5c1.4-2,2-4,2-4.1C47.9,40.7,44.1,39.3,44,34.9z"></path>
                      <path d="M40.4,24.2c1-1.2,1.7-2.9,1.5-4.6c-1.4,0.1-3.2,1-4.2,2.2c-0.9,1.1-1.7,2.8-1.5,4.4
						C37.7,26.4,39.4,25.4,40.4,24.2z"></path>
                      <path d="M66.1,44.1h-6l-1.4,4.3H56l5.7-15.8h2.7l5.7,15.8h-2.6L66.1,44.1z M60.7,42.2h4.8l-2.4-6.9H63L60.7,42.2z"></path>
                      <path d="M82.4,42.7c0,3.6-1.9,5.9-4.8,5.9c-1.6,0-2.9-0.7-3.6-2h-0.1v5.7h-2.4V36.9h2.3v1.9l0,0c0.7-1.2,2.1-2,3.7-2
					C80.5,36.8,82.4,39.1,82.4,42.7z M80,42.7c0-2.3-1.2-3.9-3-3.9s-3,1.6-3,3.9c0,2.3,1.2,3.9,3,3.9C78.8,46.5,80,45,80,42.7z"></path>
                      <path d="M95.1,42.7c0,3.6-1.9,5.9-4.8,5.9c-1.6,0-2.9-0.7-3.6-2h-0.1v5.7h-2.4V36.9h2.3v1.9l0,0c0.7-1.2,2.1-2,3.7-2
					C93.2,36.8,95.1,39.1,95.1,42.7z M92.7,42.7c0-2.3-1.2-3.9-3-3.9s-3,1.6-3,3.9c0,2.3,1.2,3.9,3,3.9C91.5,46.5,92.7,45,92.7,42.7
					z"></path>
                      <path class="path-title path-title_wh" d="M103.5,44c0.2,1.6,1.7,2.6,3.8,2.6c2,0,3.4-1,3.4-2.4c0-1.2-0.9-2-2.9-2.5l-2-0.5c-2.9-0.7-4.2-2.1-4.2-4.3
					c0-2.7,2.4-4.6,5.7-4.6c3.3,0,5.6,1.9,5.7,4.6h-2.4c-0.1-1.6-1.4-2.5-3.4-2.5c-1.9,0-3.2,1-3.2,2.4c0,1.1,0.8,1.8,2.9,2.3
					l1.7,0.4c3.2,0.8,4.6,2.1,4.6,4.4c0,3-2.4,4.8-6.1,4.8c-3.5,0-5.9-1.8-6-4.7H103.5z"></path>
                      <path class="path-title path-title_wh" d="M118.3,34.2v2.7h2.2v1.9h-2.2v6.4c0,1,0.4,1.4,1.4,1.4c0.2,0,0.6,0,0.8-0.1v1.9c-0.3,0.1-0.8,0.1-1.3,0.1
					c-2.3,0-3.2-0.9-3.2-3.1v-6.6h-1.7v-1.9h1.7v-2.7C116,34.2,118.3,34.2,118.3,34.2z"></path>
                      <path class="path-title path-title_wh" d="M121.8,42.7c0-3.6,2.1-5.9,5.5-5.9c3.3,0,5.5,2.3,5.5,5.9c0,3.6-2.1,5.9-5.5,5.9C123.9,48.6,121.8,46.3,121.8,42.7z
					 M130.3,42.7c0-2.5-1.1-4-3.1-4c-1.9,0-3.1,1.5-3.1,4s1.1,4,3.1,4C129.1,46.6,130.3,45.1,130.3,42.7z"></path>
                      <path class="path-title path-title_wh" d="M134.6,36.9h2.3v2h0.1c0.4-1.3,1.4-2.1,2.8-2.1c0.3,0,0.6,0,0.8,0.1v2.2c-0.2-0.1-0.6-0.1-1.1-0.1c-1.5,0-2.5,1-2.5,2.7
					v6.8h-2.4L134.6,36.9L134.6,36.9z"></path>
                      <path class="path-title path-title_wh" d="M151.4,45c-0.3,2.1-2.4,3.5-5,3.5c-3.4,0-5.4-2.2-5.4-5.8s2.1-6,5.3-6s5.2,2.2,5.2,5.7v0.8h-8.1v0.1
					c0,2,1.2,3.3,3.1,3.3c1.3,0,2.3-0.6,2.7-1.6H151.4z M143.4,41.6h5.8c-0.1-1.8-1.2-2.9-2.8-2.9C144.7,38.7,143.6,39.8,143.4,41.6
					z"></path>
                      <path d="M60.4,20.7c2.3,0,3.6,1.4,3.6,3.8s-1.3,3.8-3.6,3.8h-2.7v-7.6C57.7,20.7,60.4,20.7,60.4,20.7z M58.8,27.2h1.4
				c1.6,0,2.5-1,2.5-2.7s-0.9-2.7-2.5-2.7h-1.4V27.2z"></path>
                      <path d="M65.3,25.4c0-1.8,1-3,2.7-3s2.7,1.1,2.7,3s-1,3-2.7,3S65.3,27.3,65.3,25.4z M69.5,25.4c0-1.2-0.6-2-1.5-2
				c-1,0-1.5,0.7-1.5,2s0.6,2,1.5,2C69,27.4,69.5,26.7,69.5,25.4z"></path>
                      <path d="M77.9,28.3h-1.2l-1.2-4.2h-0.1l-1.2,4.2H73l-1.6-5.7h1.1l1,4.4h0.1l1.2-4.4H76l1.2,4.4h0.1l1-4.4h1.1L77.9,28.3z"></path>
                      <path d="M80.8,22.6h1.1v0.9H82c0.3-0.6,0.8-1,1.7-1c1.3,0,2,0.8,2,2.1v3.7h-1.1v-3.4c0-0.9-0.4-1.4-1.2-1.4S82,24.1,82,25v3.4
				h-1.1L80.8,22.6L80.8,22.6z"></path>
                      <path d="M87.4,20.3h1.1v8h-1.1V20.3z"></path>
                      <path d="M90.1,25.4c0-1.8,1-3,2.7-3s2.7,1.1,2.7,3s-1,3-2.7,3C91.2,28.4,90.1,27.3,90.1,25.4z M94.4,25.4c0-1.2-0.6-2-1.5-2
				c-1,0-1.5,0.7-1.5,2s0.6,2,1.5,2S94.4,26.7,94.4,25.4z"></path>
                      <path d="M96.7,26.7c0-1,0.8-1.6,2.1-1.7l1.6-0.1v-0.5c0-0.6-0.4-0.9-1.2-0.9c-0.6,0-1.1,0.2-1.2,0.6h-1c0.1-1,1-1.6,2.3-1.6
				c1.4,0,2.2,0.7,2.2,1.9v3.9h-1.1v-0.8h-0.1c-0.3,0.6-1,0.9-1.7,0.9C97.5,28.4,96.7,27.7,96.7,26.7z M100.4,26.2v-0.5L99,25.8
				c-0.8,0.1-1.1,0.3-1.1,0.8s0.4,0.8,1.1,0.8C99.8,27.4,100.4,26.9,100.4,26.2z"></path>
                      <path d="M103,25.4c0-1.8,0.9-3,2.4-3c0.8,0,1.4,0.4,1.8,1h0.1v-3.1h1.1v8h-1.1v-0.9h-0.1c-0.3,0.6-1,1-1.8,1
				C103.9,28.4,103,27.3,103,25.4z M104.2,25.4c0,1.2,0.6,1.9,1.5,1.9c1,0,1.5-0.7,1.5-1.9c0-1.2-0.6-1.9-1.5-1.9
				C104.8,23.5,104.2,24.2,104.2,25.4z"></path>
                      <path d="M113.1,25.4c0-1.8,1-3,2.7-3s2.7,1.1,2.7,3s-1,3-2.7,3S113.1,27.3,113.1,25.4z M117.3,25.4c0-1.2-0.6-2-1.5-2
				c-1,0-1.5,0.7-1.5,2s0.6,2,1.5,2C116.7,27.4,117.3,26.7,117.3,25.4z"></path>
                      <path d="M120,22.6h1.1v0.9h0.1c0.3-0.6,0.8-1,1.7-1c1.3,0,2,0.8,2,2.1v3.7h-1.1v-3.4c0-0.9-0.4-1.4-1.2-1.4s-1.4,0.6-1.4,1.5v3.4
				H120V22.6z"></path>
                      <path d="M131.2,21.1v1.5h1.2v1h-1.2v2.9c0,0.6,0.2,0.9,0.8,0.9c0.2,0,0.3,0,0.4,0v0.9c-0.2,0-0.4,0.1-0.6,0.1
				c-1.3,0-1.8-0.4-1.8-1.5v-3.2h-0.9v-1h0.9v-1.5L131.2,21.1L131.2,21.1z"></path>
                      <path d="M134,20.3h1.1v3.2h0.1c0.3-0.6,0.9-1,1.7-1c1.2,0,2,0.8,2,2.1v3.7h-1.1v-3.4c0-0.9-0.4-1.4-1.2-1.4
				c-0.9,0-1.4,0.6-1.4,1.5v3.3H134V20.3z"></path>
                      <path d="M145.6,26.8c-0.3,1-1.2,1.7-2.5,1.7c-1.6,0-2.6-1.1-2.6-3c0-1.8,1-3,2.6-3s2.6,1.1,2.6,2.9v0.4h-4v0.1
				c0,1,0.6,1.6,1.5,1.6c0.7,0,1.2-0.2,1.4-0.7H145.6z M141.6,24.9h2.9c0-0.9-0.6-1.5-1.4-1.5C142.2,23.4,141.6,24,141.6,24.9z"></path>
                    </g>
                  </g>
                </svg>
              </a>
              <a href="" class="link link__gradient ml20">
                <svg class="link__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px" y="0px" width="170" height="70" viewBox="0 0 176 72" xml:space="preserve">
                  <g>
                    <g>
                      <g>
                        <path class="st-border" d="M168,71.5H7.5C3.9,71.5,1,68.6,1,65V7.4c0-3.6,2.9-6.5,6.5-6.5h160.6c3.6,0,6.5,2.9,6.5,6.5V65
		C174.6,68.6,171.6,71.5,168,71.5z" />
                      </g>
                      <g>
                        <path class="st-title" d="M63.1,23.2c0,1.1-0.3,1.9-0.9,2.5c-0.7,0.8-1.7,1.1-2.8,1.1s-2-0.4-2.8-1.1c-0.8-0.8-1.2-1.7-1.2-2.8
				c0-1.1,0.4-2.1,1.2-2.8c0.8-0.8,1.7-1.1,2.8-1.1c0.5,0,1.1,0.1,1.6,0.3c0.5,0.2,0.9,0.5,1.2,0.9l-0.7,0.7
				C61,20.3,60.3,20,59.4,20c-0.8,0-1.5,0.3-2.1,0.8c-0.6,0.6-0.9,1.3-0.9,2.2s0.3,1.6,0.9,2.2c0.6,0.6,1.3,0.8,2.1,0.8
				c0.9,0,1.6-0.3,2.1-0.9c0.4-0.4,0.6-0.9,0.6-1.5h-2.8v-0.9H63C63.1,22.8,63.1,23,63.1,23.2z" />
                      </g>
                      <g>
                        <path class="st-title" d="M69,20h-3.5v2.4h3.1v0.9h-3.1v2.4H69v0.9h-4.5V19H69V20z" />
                      </g>
                      <g>
                        <path class="st-title" d="M73.1,26.7h-1V20H70v-0.9h5.2V20h-2.1V26.7z" />
                      </g>
                      <g>
                        <path class="st-title" d="M79,26.7v-7.6h1v7.6H79z" />
                      </g>
                      <g>
                        <path class="st-title" d="M84.4,26.7h-1V20h-2.1v-0.9h5.2V20h-2.1V26.7z" />
                      </g>
                      <g>
                        <path class="st-title" d="M96.4,25.7c-0.8,0.8-1.7,1.2-2.8,1.2c-1.1,0-2-0.4-2.8-1.2c-0.8-0.8-1.1-1.7-1.1-2.8s0.4-2.1,1.1-2.8
				c0.7-0.8,1.7-1.2,2.8-1.2c1.1,0,2,0.4,2.8,1.2c0.8,0.8,1.1,1.7,1.1,2.8S97.2,24.9,96.4,25.7z M91.5,25.1c0.6,0.6,1.3,0.9,2.1,0.9
				c0.8,0,1.5-0.3,2.1-0.9s0.8-1.3,0.8-2.2s-0.3-1.6-0.8-2.2c-0.6-0.6-1.3-0.9-2.1-0.9c-0.8,0-1.5,0.3-2.1,0.9s-0.8,1.3-0.8,2.2
				S91,24.5,91.5,25.1z" />
                      </g>
                      <g>
                        <path class="st-title" d="M98.9,26.7v-7.6h1.2l3.7,5.9l0,0v-1.5V19h1v7.6h-1l-3.9-6.2l0,0v1.5v4.8H98.9z" />
                      </g>
                    </g>
                    <g>
                      <path class="st-title" d="M89.5,37.8c-3,0-5.4,2.3-5.4,5.4c0,3.1,2.4,5.4,5.4,5.4s5.4-2.3,5.4-5.4S92.4,37.8,89.5,37.8z M89.5,46.5
			c-1.6,0-3.1-1.4-3.1-3.3c0-1.9,1.4-3.3,3.1-3.3c1.6,0,3.1,1.3,3.1,3.3C92.5,45.2,91.1,46.5,89.5,46.5z M77.6,37.8
			c-3,0-5.4,2.3-5.4,5.4c0,3.1,2.4,5.4,5.4,5.4s5.4-2.3,5.4-5.4S80.6,37.8,77.6,37.8z M77.6,46.5c-1.6,0-3.1-1.4-3.1-3.3
			c0-1.9,1.4-3.3,3.1-3.3c1.6,0,3.1,1.3,3.1,3.3S79.2,46.5,77.6,46.5z M63.5,39.5v2.3H69c-0.2,1.3-0.6,2.2-1.3,2.9
			c-0.8,0.8-2.1,1.7-4.2,1.7c-3.4,0-6-2.7-6-6.1s2.6-6.1,6-6.1c1.8,0,3.2,0.7,4.1,1.6l1.6-1.6c-1.4-1.3-3.2-2.3-5.8-2.3
			c-4.6,0-8.5,3.8-8.5,8.4s3.9,8.4,8.5,8.4c2.5,0,4.4-0.8,5.9-2.4c1.5-1.5,2-3.6,2-5.4c0-0.5,0-1-0.1-1.4H63.5z M121.2,41.3
			c-0.5-1.2-1.8-3.4-4.6-3.4c-2.8,0-5.1,2.2-5.1,5.4c0,3,2.3,5.4,5.4,5.4c2.5,0,3.9-1.5,4.5-2.4l-1.8-1.2c-0.6,0.9-1.5,1.5-2.7,1.5
			s-2.1-0.6-2.6-1.6l7.2-3L121.2,41.3z M113.8,43.1c-0.1-2.1,1.6-3.2,2.8-3.2c0.9,0,1.7,0.5,2,1.1L113.8,43.1z M107.9,48.3h2.4V32.4
			h-2.4V48.3z M104,39L104,39c-0.6-0.6-1.6-1.2-2.9-1.2c-2.7,0-5.2,2.4-5.2,5.4s2.5,5.4,5.2,5.4c1.3,0,2.3-0.6,2.9-1.2h0.1v0.8
			c0,2.1-1.1,3.2-2.9,3.2c-1.5,0-2.4-1-2.7-1.9l-2.1,0.9c0.6,1.4,2.2,3.2,4.8,3.2c2.8,0,5.1-1.6,5.1-5.6v-9.7H104V39z M101.3,46.5
			c-1.6,0-3-1.4-3-3.3c0-1.9,1.4-3.3,3-3.3s2.9,1.4,2.9,3.3C104.2,45.2,102.9,46.5,101.3,46.5z M132.3,32.4h-5.7v15.9h2.4v-6h3.3
			c2.6,0,5.2-1.9,5.2-4.9S134.9,32.4,132.3,32.4z M132.4,40.1H129v-5.5h3.4c1.8,0,2.8,1.5,2.8,2.7C135.2,38.6,134.1,40.1,132.4,40.1
			z M147,37.8c-1.7,0-3.5,0.8-4.2,2.4l2.1,0.9c0.5-0.9,1.3-1.2,2.2-1.2c1.2,0,2.5,0.7,2.5,2v0.2c-0.4-0.2-1.4-0.6-2.5-0.6
			c-2.3,0-4.6,1.2-4.6,3.6c0,2.1,1.9,3.5,4,3.5c1.6,0,2.5-0.7,3-1.6h0.1v1.2h2.3v-6.1C151.9,39.4,149.8,37.8,147,37.8z M146.8,46.5
			c-0.8,0-1.9-0.4-1.9-1.4c0-1.2,1.4-1.7,2.5-1.7c1,0,1.5,0.2,2.2,0.5C149.4,45.5,148.1,46.5,146.8,46.5z M160.2,38.2l-2.7,6.9h-0.1
			l-2.8-6.9H152l4.2,9.6l-2.4,5.4h2.5l6.5-15C162.8,38.2,160.2,38.2,160.2,38.2z M138.8,48.3h2.4V32.4h-2.4V48.3z" />
                    </g>
                    <g>
                      <g>
                        <path class="st-green" d="M31.7,35l5.1-5L18.7,19.7l0,0c-0.2-0.1-0.5-0.2-0.7-0.3c-0.1,0-0.1,0-0.2,0c-0.2,0-0.3-0.1-0.5-0.1
				c-0.1,0-0.1,0-0.2,0s-0.3,0-0.4,0.1c-0.1,0-0.1,0-0.2,0.1l-0.1,0.1L31.7,35z" />
                      </g>
                      <g>
                        <path class="st-blue" d="M15.6,20.6c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.2-0.1,0.4-0.1,0.6l0,0v0.2v27.8v0.2l0,0
				c0,0.5,0.1,0.9,0.2,1.2l15.1-15L15.6,20.6z" />
                      </g>
                      <g>
                        <path class="st-red" d="M31.7,36.8l-15.1,15l0,0c0.1,0,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3,0c0.1,0,0.3,0,0.5-0.1c0.1,0,0.2,0,0.2,0
				c0.2-0.1,0.5-0.2,0.8-0.3l17.7-10.1L31.7,36.8z" />
                      </g>
                      <g>
                        <path class="st-orange" d="M44.8,35.6L44.8,35.6c0-0.7-0.4-1.3-1.3-1.8L38,30.6l-5.3,5.3l4.9,4.9l6-3.4c0.6-0.3,0.9-0.7,1.1-1.1
				C44.7,36.1,44.8,35.9,44.8,35.6L44.8,35.6L44.8,35.6z" />
                      </g>
                    </g>
                  </g>

                </svg>

              </a>


            </div>
          </div>
          <div class="promo__pic">
            <img src="img/content/phone_app.png" alt="">
          </div>
          <div class="promo__scroll">
            <span class="scroll-to scroll-to__app">scroll</span>
          </div>
        </div>
      </section>
      <!-- end  promo-->
      <!-- BEGIN  plus-->
      <section class="plus plus__app" data-trigger="true" id="plus">
        <div class="plus__in inner flex">
          <div class="plus__col">
            <div class="plus__header">
              <div class="plus__title plus__title-app">
                <h2 class="title-bold">
                  <span>SUPPORT</span>
                  <br> ON THE GO
                </h2>
              </div>
            </div>
            <div class="plus__body">
              <p>
                No matter how busy you are, you can access the
                <b>DARE app</b> to quickly
                <br> master what you need to learn for your particular anxiety issue.
              </p>
            </div>
            <!-- <a href="" class="plus__link"> -->
            <!-- Driving anxiety -->
            <!-- </a> -->
            <div class="cd-headline rotate-1">
              <div class="cd-words-wrapper">
                <b class="is-hidden">Toilet phobia</b>
                <b class="is-hidden">Public speaking</b>
                <b class="is-hidden">At the doctor's</b>
                <b class="is-hidden">Insomnia</b>
                <b class="is-visible">Driving anxiety</b>
                <b class="is-hidden">Agoraphobia</b>
                <b class="is-hidden">Fear of flying</b>
                <b class="is-hidden">Socially trapped</b>
                <b class="is-hidden">Going on vacation</b>
                <b class="is-hidden">Doing exercise</b>
                <b class="is-hidden">Eating out</b>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end  plus-->




      <section class="feature" id="feature">
        <h2 class="feature__title">
          Explore the App’s key features
        </h2>
        <div class="feature__footer">
          <div class="feature__text">
            DARE APP IS AVAILABLE FOR iOS &amp; Android
          </div>
          <a href="" class="link link-app">
            <svg class="link-app__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="170" height="70" viewBox="0 0 176 72" style="enable-background:new 0 0 176 72;"
              xml:space="preserve">
              <g>
                <path class="st-border" d="M167.7,70.2H8.4c-3.6,0-6.4-2.8-6.4-6.3V7.7c0-3.5,2.9-6.3,6.4-6.3h159.4c3.6,0,6.4,2.8,6.4,6.3v56.2
		C174.3,67.4,171.3,70.2,167.7,70.2z"></path>
              </g>
              <g>
                <g class="group-title">
                  <path d="M44,34.9c0-3.6,3-5.4,3.1-5.5c-1.7-2.5-4.4-2.8-5.3-2.9c-2.2-0.2-4.4,1.3-5.5,1.3
						c-1.2,0-2.9-1.3-4.8-1.3c-2.4,0-4.7,1.4-5.9,3.6C23,34.5,24.9,41,27.4,44.6c1.2,1.8,2.7,3.7,4.5,3.6c1.8-0.1,2.5-1.2,4.7-1.2
						c2.2,0,2.8,1.2,4.8,1.1c2,0,3.2-1.8,4.4-3.5c1.4-2,2-4,2-4.1C47.9,40.7,44.1,39.3,44,34.9z"></path>
                  <path d="M40.4,24.2c1-1.2,1.7-2.9,1.5-4.6c-1.4,0.1-3.2,1-4.2,2.2c-0.9,1.1-1.7,2.8-1.5,4.4
						C37.7,26.4,39.4,25.4,40.4,24.2z"></path>
                  <path d="M66.1,44.1h-6l-1.4,4.3H56l5.7-15.8h2.7l5.7,15.8h-2.6L66.1,44.1z M60.7,42.2h4.8l-2.4-6.9H63L60.7,42.2z"></path>
                  <path d="M82.4,42.7c0,3.6-1.9,5.9-4.8,5.9c-1.6,0-2.9-0.7-3.6-2h-0.1v5.7h-2.4V36.9h2.3v1.9l0,0c0.7-1.2,2.1-2,3.7-2
					C80.5,36.8,82.4,39.1,82.4,42.7z M80,42.7c0-2.3-1.2-3.9-3-3.9s-3,1.6-3,3.9c0,2.3,1.2,3.9,3,3.9C78.8,46.5,80,45,80,42.7z"></path>
                  <path d="M95.1,42.7c0,3.6-1.9,5.9-4.8,5.9c-1.6,0-2.9-0.7-3.6-2h-0.1v5.7h-2.4V36.9h2.3v1.9l0,0c0.7-1.2,2.1-2,3.7-2
					C93.2,36.8,95.1,39.1,95.1,42.7z M92.7,42.7c0-2.3-1.2-3.9-3-3.9s-3,1.6-3,3.9c0,2.3,1.2,3.9,3,3.9C91.5,46.5,92.7,45,92.7,42.7
					z"></path>
                  <path class="path-title path-title_wh" d="M103.5,44c0.2,1.6,1.7,2.6,3.8,2.6c2,0,3.4-1,3.4-2.4c0-1.2-0.9-2-2.9-2.5l-2-0.5c-2.9-0.7-4.2-2.1-4.2-4.3
					c0-2.7,2.4-4.6,5.7-4.6c3.3,0,5.6,1.9,5.7,4.6h-2.4c-0.1-1.6-1.4-2.5-3.4-2.5c-1.9,0-3.2,1-3.2,2.4c0,1.1,0.8,1.8,2.9,2.3
					l1.7,0.4c3.2,0.8,4.6,2.1,4.6,4.4c0,3-2.4,4.8-6.1,4.8c-3.5,0-5.9-1.8-6-4.7H103.5z"></path>
                  <path class="path-title path-title_wh" d="M118.3,34.2v2.7h2.2v1.9h-2.2v6.4c0,1,0.4,1.4,1.4,1.4c0.2,0,0.6,0,0.8-0.1v1.9c-0.3,0.1-0.8,0.1-1.3,0.1
					c-2.3,0-3.2-0.9-3.2-3.1v-6.6h-1.7v-1.9h1.7v-2.7C116,34.2,118.3,34.2,118.3,34.2z"></path>
                  <path class="path-title path-title_wh" d="M121.8,42.7c0-3.6,2.1-5.9,5.5-5.9c3.3,0,5.5,2.3,5.5,5.9c0,3.6-2.1,5.9-5.5,5.9C123.9,48.6,121.8,46.3,121.8,42.7z
					 M130.3,42.7c0-2.5-1.1-4-3.1-4c-1.9,0-3.1,1.5-3.1,4s1.1,4,3.1,4C129.1,46.6,130.3,45.1,130.3,42.7z"></path>
                  <path class="path-title path-title_wh" d="M134.6,36.9h2.3v2h0.1c0.4-1.3,1.4-2.1,2.8-2.1c0.3,0,0.6,0,0.8,0.1v2.2c-0.2-0.1-0.6-0.1-1.1-0.1c-1.5,0-2.5,1-2.5,2.7
					v6.8h-2.4L134.6,36.9L134.6,36.9z"></path>
                  <path class="path-title path-title_wh" d="M151.4,45c-0.3,2.1-2.4,3.5-5,3.5c-3.4,0-5.4-2.2-5.4-5.8s2.1-6,5.3-6s5.2,2.2,5.2,5.7v0.8h-8.1v0.1
					c0,2,1.2,3.3,3.1,3.3c1.3,0,2.3-0.6,2.7-1.6H151.4z M143.4,41.6h5.8c-0.1-1.8-1.2-2.9-2.8-2.9C144.7,38.7,143.6,39.8,143.4,41.6
					z"></path>
                  <path d="M60.4,20.7c2.3,0,3.6,1.4,3.6,3.8s-1.3,3.8-3.6,3.8h-2.7v-7.6C57.7,20.7,60.4,20.7,60.4,20.7z M58.8,27.2h1.4
				c1.6,0,2.5-1,2.5-2.7s-0.9-2.7-2.5-2.7h-1.4V27.2z"></path>
                  <path d="M65.3,25.4c0-1.8,1-3,2.7-3s2.7,1.1,2.7,3s-1,3-2.7,3S65.3,27.3,65.3,25.4z M69.5,25.4c0-1.2-0.6-2-1.5-2
				c-1,0-1.5,0.7-1.5,2s0.6,2,1.5,2C69,27.4,69.5,26.7,69.5,25.4z"></path>
                  <path d="M77.9,28.3h-1.2l-1.2-4.2h-0.1l-1.2,4.2H73l-1.6-5.7h1.1l1,4.4h0.1l1.2-4.4H76l1.2,4.4h0.1l1-4.4h1.1L77.9,28.3z"></path>
                  <path d="M80.8,22.6h1.1v0.9H82c0.3-0.6,0.8-1,1.7-1c1.3,0,2,0.8,2,2.1v3.7h-1.1v-3.4c0-0.9-0.4-1.4-1.2-1.4S82,24.1,82,25v3.4
				h-1.1L80.8,22.6L80.8,22.6z"></path>
                  <path d="M87.4,20.3h1.1v8h-1.1V20.3z"></path>
                  <path d="M90.1,25.4c0-1.8,1-3,2.7-3s2.7,1.1,2.7,3s-1,3-2.7,3C91.2,28.4,90.1,27.3,90.1,25.4z M94.4,25.4c0-1.2-0.6-2-1.5-2
				c-1,0-1.5,0.7-1.5,2s0.6,2,1.5,2S94.4,26.7,94.4,25.4z"></path>
                  <path d="M96.7,26.7c0-1,0.8-1.6,2.1-1.7l1.6-0.1v-0.5c0-0.6-0.4-0.9-1.2-0.9c-0.6,0-1.1,0.2-1.2,0.6h-1c0.1-1,1-1.6,2.3-1.6
				c1.4,0,2.2,0.7,2.2,1.9v3.9h-1.1v-0.8h-0.1c-0.3,0.6-1,0.9-1.7,0.9C97.5,28.4,96.7,27.7,96.7,26.7z M100.4,26.2v-0.5L99,25.8
				c-0.8,0.1-1.1,0.3-1.1,0.8s0.4,0.8,1.1,0.8C99.8,27.4,100.4,26.9,100.4,26.2z"></path>
                  <path d="M103,25.4c0-1.8,0.9-3,2.4-3c0.8,0,1.4,0.4,1.8,1h0.1v-3.1h1.1v8h-1.1v-0.9h-0.1c-0.3,0.6-1,1-1.8,1
				C103.9,28.4,103,27.3,103,25.4z M104.2,25.4c0,1.2,0.6,1.9,1.5,1.9c1,0,1.5-0.7,1.5-1.9c0-1.2-0.6-1.9-1.5-1.9
				C104.8,23.5,104.2,24.2,104.2,25.4z"></path>
                  <path d="M113.1,25.4c0-1.8,1-3,2.7-3s2.7,1.1,2.7,3s-1,3-2.7,3S113.1,27.3,113.1,25.4z M117.3,25.4c0-1.2-0.6-2-1.5-2
				c-1,0-1.5,0.7-1.5,2s0.6,2,1.5,2C116.7,27.4,117.3,26.7,117.3,25.4z"></path>
                  <path d="M120,22.6h1.1v0.9h0.1c0.3-0.6,0.8-1,1.7-1c1.3,0,2,0.8,2,2.1v3.7h-1.1v-3.4c0-0.9-0.4-1.4-1.2-1.4s-1.4,0.6-1.4,1.5v3.4
				H120V22.6z"></path>
                  <path d="M131.2,21.1v1.5h1.2v1h-1.2v2.9c0,0.6,0.2,0.9,0.8,0.9c0.2,0,0.3,0,0.4,0v0.9c-0.2,0-0.4,0.1-0.6,0.1
				c-1.3,0-1.8-0.4-1.8-1.5v-3.2h-0.9v-1h0.9v-1.5L131.2,21.1L131.2,21.1z"></path>
                  <path d="M134,20.3h1.1v3.2h0.1c0.3-0.6,0.9-1,1.7-1c1.2,0,2,0.8,2,2.1v3.7h-1.1v-3.4c0-0.9-0.4-1.4-1.2-1.4
				c-0.9,0-1.4,0.6-1.4,1.5v3.3H134V20.3z"></path>
                  <path d="M145.6,26.8c-0.3,1-1.2,1.7-2.5,1.7c-1.6,0-2.6-1.1-2.6-3c0-1.8,1-3,2.6-3s2.6,1.1,2.6,2.9v0.4h-4v0.1
				c0,1,0.6,1.6,1.5,1.6c0.7,0,1.2-0.2,1.4-0.7H145.6z M141.6,24.9h2.9c0-0.9-0.6-1.5-1.4-1.5C142.2,23.4,141.6,24,141.6,24.9z"></path>
                </g>
              </g>
            </svg>
          </a>
          <a href="" class="link link__gradient ml20">
            <svg class="link__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" width="170" height="70" viewBox="0 0 176 72" xml:space="preserve">
              <g>
                <g>
                  <g>
                    <path class="st-border" d="M168,71.5H7.5C3.9,71.5,1,68.6,1,65V7.4c0-3.6,2.9-6.5,6.5-6.5h160.6c3.6,0,6.5,2.9,6.5,6.5V65
		C174.6,68.6,171.6,71.5,168,71.5z" />
                  </g>
                  <g>
                    <path class="st-title" d="M63.1,23.2c0,1.1-0.3,1.9-0.9,2.5c-0.7,0.8-1.7,1.1-2.8,1.1s-2-0.4-2.8-1.1c-0.8-0.8-1.2-1.7-1.2-2.8
				c0-1.1,0.4-2.1,1.2-2.8c0.8-0.8,1.7-1.1,2.8-1.1c0.5,0,1.1,0.1,1.6,0.3c0.5,0.2,0.9,0.5,1.2,0.9l-0.7,0.7
				C61,20.3,60.3,20,59.4,20c-0.8,0-1.5,0.3-2.1,0.8c-0.6,0.6-0.9,1.3-0.9,2.2s0.3,1.6,0.9,2.2c0.6,0.6,1.3,0.8,2.1,0.8
				c0.9,0,1.6-0.3,2.1-0.9c0.4-0.4,0.6-0.9,0.6-1.5h-2.8v-0.9H63C63.1,22.8,63.1,23,63.1,23.2z" />
                  </g>
                  <g>
                    <path class="st-title" d="M69,20h-3.5v2.4h3.1v0.9h-3.1v2.4H69v0.9h-4.5V19H69V20z" />
                  </g>
                  <g>
                    <path class="st-title" d="M73.1,26.7h-1V20H70v-0.9h5.2V20h-2.1V26.7z" />
                  </g>
                  <g>
                    <path class="st-title" d="M79,26.7v-7.6h1v7.6H79z" />
                  </g>
                  <g>
                    <path class="st-title" d="M84.4,26.7h-1V20h-2.1v-0.9h5.2V20h-2.1V26.7z" />
                  </g>
                  <g>
                    <path class="st-title" d="M96.4,25.7c-0.8,0.8-1.7,1.2-2.8,1.2c-1.1,0-2-0.4-2.8-1.2c-0.8-0.8-1.1-1.7-1.1-2.8s0.4-2.1,1.1-2.8
				c0.7-0.8,1.7-1.2,2.8-1.2c1.1,0,2,0.4,2.8,1.2c0.8,0.8,1.1,1.7,1.1,2.8S97.2,24.9,96.4,25.7z M91.5,25.1c0.6,0.6,1.3,0.9,2.1,0.9
				c0.8,0,1.5-0.3,2.1-0.9s0.8-1.3,0.8-2.2s-0.3-1.6-0.8-2.2c-0.6-0.6-1.3-0.9-2.1-0.9c-0.8,0-1.5,0.3-2.1,0.9s-0.8,1.3-0.8,2.2
				S91,24.5,91.5,25.1z" />
                  </g>
                  <g>
                    <path class="st-title" d="M98.9,26.7v-7.6h1.2l3.7,5.9l0,0v-1.5V19h1v7.6h-1l-3.9-6.2l0,0v1.5v4.8H98.9z" />
                  </g>
                </g>
                <g>
                  <path class="st-title" d="M89.5,37.8c-3,0-5.4,2.3-5.4,5.4c0,3.1,2.4,5.4,5.4,5.4s5.4-2.3,5.4-5.4S92.4,37.8,89.5,37.8z M89.5,46.5
			c-1.6,0-3.1-1.4-3.1-3.3c0-1.9,1.4-3.3,3.1-3.3c1.6,0,3.1,1.3,3.1,3.3C92.5,45.2,91.1,46.5,89.5,46.5z M77.6,37.8
			c-3,0-5.4,2.3-5.4,5.4c0,3.1,2.4,5.4,5.4,5.4s5.4-2.3,5.4-5.4S80.6,37.8,77.6,37.8z M77.6,46.5c-1.6,0-3.1-1.4-3.1-3.3
			c0-1.9,1.4-3.3,3.1-3.3c1.6,0,3.1,1.3,3.1,3.3S79.2,46.5,77.6,46.5z M63.5,39.5v2.3H69c-0.2,1.3-0.6,2.2-1.3,2.9
			c-0.8,0.8-2.1,1.7-4.2,1.7c-3.4,0-6-2.7-6-6.1s2.6-6.1,6-6.1c1.8,0,3.2,0.7,4.1,1.6l1.6-1.6c-1.4-1.3-3.2-2.3-5.8-2.3
			c-4.6,0-8.5,3.8-8.5,8.4s3.9,8.4,8.5,8.4c2.5,0,4.4-0.8,5.9-2.4c1.5-1.5,2-3.6,2-5.4c0-0.5,0-1-0.1-1.4H63.5z M121.2,41.3
			c-0.5-1.2-1.8-3.4-4.6-3.4c-2.8,0-5.1,2.2-5.1,5.4c0,3,2.3,5.4,5.4,5.4c2.5,0,3.9-1.5,4.5-2.4l-1.8-1.2c-0.6,0.9-1.5,1.5-2.7,1.5
			s-2.1-0.6-2.6-1.6l7.2-3L121.2,41.3z M113.8,43.1c-0.1-2.1,1.6-3.2,2.8-3.2c0.9,0,1.7,0.5,2,1.1L113.8,43.1z M107.9,48.3h2.4V32.4
			h-2.4V48.3z M104,39L104,39c-0.6-0.6-1.6-1.2-2.9-1.2c-2.7,0-5.2,2.4-5.2,5.4s2.5,5.4,5.2,5.4c1.3,0,2.3-0.6,2.9-1.2h0.1v0.8
			c0,2.1-1.1,3.2-2.9,3.2c-1.5,0-2.4-1-2.7-1.9l-2.1,0.9c0.6,1.4,2.2,3.2,4.8,3.2c2.8,0,5.1-1.6,5.1-5.6v-9.7H104V39z M101.3,46.5
			c-1.6,0-3-1.4-3-3.3c0-1.9,1.4-3.3,3-3.3s2.9,1.4,2.9,3.3C104.2,45.2,102.9,46.5,101.3,46.5z M132.3,32.4h-5.7v15.9h2.4v-6h3.3
			c2.6,0,5.2-1.9,5.2-4.9S134.9,32.4,132.3,32.4z M132.4,40.1H129v-5.5h3.4c1.8,0,2.8,1.5,2.8,2.7C135.2,38.6,134.1,40.1,132.4,40.1
			z M147,37.8c-1.7,0-3.5,0.8-4.2,2.4l2.1,0.9c0.5-0.9,1.3-1.2,2.2-1.2c1.2,0,2.5,0.7,2.5,2v0.2c-0.4-0.2-1.4-0.6-2.5-0.6
			c-2.3,0-4.6,1.2-4.6,3.6c0,2.1,1.9,3.5,4,3.5c1.6,0,2.5-0.7,3-1.6h0.1v1.2h2.3v-6.1C151.9,39.4,149.8,37.8,147,37.8z M146.8,46.5
			c-0.8,0-1.9-0.4-1.9-1.4c0-1.2,1.4-1.7,2.5-1.7c1,0,1.5,0.2,2.2,0.5C149.4,45.5,148.1,46.5,146.8,46.5z M160.2,38.2l-2.7,6.9h-0.1
			l-2.8-6.9H152l4.2,9.6l-2.4,5.4h2.5l6.5-15C162.8,38.2,160.2,38.2,160.2,38.2z M138.8,48.3h2.4V32.4h-2.4V48.3z" />
                </g>
                <g>
                  <g>
                    <path class="st-green" d="M31.7,35l5.1-5L18.7,19.7l0,0c-0.2-0.1-0.5-0.2-0.7-0.3c-0.1,0-0.1,0-0.2,0c-0.2,0-0.3-0.1-0.5-0.1
				c-0.1,0-0.1,0-0.2,0s-0.3,0-0.4,0.1c-0.1,0-0.1,0-0.2,0.1l-0.1,0.1L31.7,35z" />
                  </g>
                  <g>
                    <path class="st-blue" d="M15.6,20.6c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.2-0.1,0.4-0.1,0.6l0,0v0.2v27.8v0.2l0,0
				c0,0.5,0.1,0.9,0.2,1.2l15.1-15L15.6,20.6z" />
                  </g>
                  <g>
                    <path class="st-red" d="M31.7,36.8l-15.1,15l0,0c0.1,0,0.2,0.1,0.4,0.1c0.1,0,0.2,0,0.3,0c0.1,0,0.3,0,0.5-0.1c0.1,0,0.2,0,0.2,0
				c0.2-0.1,0.5-0.2,0.8-0.3l17.7-10.1L31.7,36.8z" />
                  </g>
                  <g>
                    <path class="st-orange" d="M44.8,35.6L44.8,35.6c0-0.7-0.4-1.3-1.3-1.8L38,30.6l-5.3,5.3l4.9,4.9l6-3.4c0.6-0.3,0.9-0.7,1.1-1.1
				C44.7,36.1,44.8,35.9,44.8,35.6L44.8,35.6L44.8,35.6z" />
                  </g>
                </g>
              </g>

            </svg>

          </a>
        </div>
        <div class="feature__dots dots">
          <span class="dots__item js-dots is-active" data-tab="1"></span>
          <span class="dots__item js-dots" data-tab="2"></span>
          <span class="dots__item js-dots" data-tab="3"></span>
          <span class="dots__item" data-tab="4"></span>
          <span class="dots__item" data-tab="5"></span>
          <span class="dots__item" data-tab="6"></span>
          <span class="dots__item" data-tab="7"></span>
        </div>
        <div class="scene scene__1 js-content is-active" data-tab="1">
          <svg class="scene__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 208.9" preserveAspectRatio="xMidYMid slice">
            <defs>
              <linearGradient id="scene1-top" x1="600" y1="1408" x2="600" y2="1199.1" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#802353" />
                <stop offset="1" stop-color="#6f1f51" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 5" d="M1200 1408v-2.3c-340.9-82-944-8-1200-206.6V1408h1200zM-316 2452"
              transform="translate(0 -1199)" style="fill-rule:evenodd;fill:url(#scene1-top)" />
          </svg>
          <svg class="scene__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 95.5">
            <defs>
              <linearGradient id="scene1-bottom" x1="600" y1="2381.5" x2="600" y2="2286" gradientUnits="userSpaceOnUse"
                preserveAspectRatio="xMidYMid slice">
                <stop offset="0" stop-color="#f6435a" />
                <stop offset="1" stop-color="#ee4259" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 6" d="M1200 2330.3a1110.4 1110.4 0 0 0-596 9.7c-227.7 66-424.5 45.4-604-7.8V2286h1200zM-316 2452"
              transform="translate(0 -2286)" style="fill-rule:evenodd;fill:url(#scene1-bottom)" />
          </svg>
          <div class="scene__in">
            <div class="scene__body">
              <div class="scene__col">
                <div class="scene__title">
                  Anxiety
                </div>
                <div class="scene__subtitle">
                  In this section you will learn why anxiety is not a monster out to get you. It is an internal
                  tug-of-war you are having with
                  yourself. As strange as it sounds, the greatest obstacle to healing you anxiety is you. You are the
                  cure.
                </div>
                <div class="scene__audio" id="playerContainer1">
                </div>
              </div>
              <div class="scene__col">
                <img src="img/content/features/anxiety.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="scene scene__2 js-content" data-tab="2">
          <svg class="scene__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 208.9" preserveAspectRatio="xMidYMid slice">
            <defs>
              <linearGradient id="scene2-top" x1="600" y1="1408" x2="600" y2="1199.1" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#a44b7b" />
                <stop offset="1" stop-color="#a44b7b" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 5" d="M1200 1408v-2.3c-340.9-82-944-8-1200-206.6V1408h1200zM-316 2452"
              transform="translate(0 -1199)" style="fill-rule:evenodd;fill:url(#scene2-top)" />
          </svg>


          <svg class="scene__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 95.5">
            <defs>
              <linearGradient id="scene2-bottom" x1="600" y1="2381.5" x2="600" y2="2286" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#4194a3" />
                <stop offset="1" stop-color="#4194a3" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 6" d="M1200 2330.3a1110.4 1110.4 0 0 0-596 9.7c-227.7 66-424.5 45.4-604-7.8V2286h1200zM-316 2452"
              transform="translate(0 -2286)" style="fill-rule:evenodd;fill:url(#scene2-bottom)" />
          </svg>


          <div class="scene__in">
            <div class="scene__body">
              <div class="scene__col">
                <div class="scene__title">
                  Panic attacks
                </div>
                <div class="scene__subtitle">
                  Learn what panic attacks are and how the fear of fear fuels the problem and delays recovery. The good
                  news is that with the
                  right approach you can have a full recovery from panic attacks.
                </div>
                <div class="scene__audio" id="playerContainer2">
                </div>
              </div>
              <div class="scene__col">
                <img src="img/content/features/panic.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="scene scene__3 js-content" data-tab="3">
          <svg class="scene__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 208.9">
            <defs>
              <linearGradient id="scene3-top" x1="600" y1="1408" x2="600" y2="1199.1" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#f4c426" />
                <stop offset="1" stop-color="#f4c426" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 5" d="M1200 1408v-2.3c-340.9-82-944-8-1200-206.6V1408h1200zM-316 2452"
              transform="translate(0 -1199)" style="fill-rule:evenodd;fill:url(#scene3-top)" />
          </svg>
          <svg class="scene__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 95.5">
            <defs>
              <linearGradient id="scene3-bottom" x1="600" y1="2381.5" x2="600" y2="2286" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#d66a60" />
                <stop offset="1" stop-color="#d66a60" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 6" d="M1200 2330.3a1110.4 1110.4 0 0 0-596 9.7c-227.7 66-424.5 45.4-604-7.8V2286h1200zM-316 2452"
              transform="translate(0 -2286)" style="fill-rule:evenodd;fill:url(#scene3-bottom)" />
          </svg>
          <div class="scene__in">
            <div class="scene__body">
              <div class="scene__col">
                <div class="scene__title">
                  Worry
                </div>
                <div class="scene__subtitle">
                  Play this audio to help produce and eventually eliminate anxious or intrusive thoughts.
                </div>
                <div class="scene__audio" id="playerContainer3">
                </div>
              </div>
              <div class="scene__col">
                <img src="img/content/features/worry.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="feature__in inner">
          <div class="scene__tabs">
            <h3>
              app key features
            </h3>
            <ul class="scene__list">
              <li class="scene__list-item scene__list-anxiety js-tab is-active" data-tab="1" data-popup="appsl">
                <div class="scene__list-in">
                  <i class="icon icon-anxiety"></i>
                  <h4>Anxiety</h4>
                </div>
              </li>
              <li class="scene__list-item scene__list-panic js-tab" data-tab="2" data-popup="appsl">
                <div class="scene__list-in">
                  <i class="icon icon-panic"></i>
                  <h4>Panic attacks</h4>
                </div>
              </li>
              <li class="scene__list-item scene__list-worry js-tab" data-tab="3" data-popup="appsl">
                <div class="scene__list-in">
                  <i class="icon icon-worry"></i>
                  <h4>worry</h4>
                </div>
              </li>
              <li class="scene__list-item scene__list-insomnia">
                <div class="scene__list-in">
                  <i class="icon icon-insomnia"></i>
                  <h4>insomnia</h4>
                </div>
              </li>
              <li class="scene__list-item scene__list-mind">
                <div class="scene__list-in">
                  <i class="icon icon-gym"></i>
                  <h4>mind gym</h4>
                </div>
              </li>
              <li class="scene__list-item scene__list-sos">
                <div class="scene__list-in">
                  <i class="icon icon-sos"></i>
                  <h4>sos</h4>
                </div>
              </li>
              <li class="scene__list-item scene__list-tech">
                <div class="scene__list-in">
                  <i class="icon icon-techniq"></i>
                  <h4>
                    Breathing techniques</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </section>



      <div class="app-container" data-trigger="true">
        <!-- BEGIN  freedom-->
        <section class="freedom freedom__app" id="freedom">
          <div class="freedom__in flex inner">
            <div class="freedom__col">
              <h2 class="freedom__title title-bold">
                <span>win back </span>
                <br> your freedom
              </h2>
              <p class="freedom__text">
                For a deeper understanding of what triggers anxiety and how to apply the DARE technique in a truly
                transformative way,
                <b>we encourage you to read the
                  <br> DARE book. </b>
              </p>
              <a href="book.html" class="btn-more">MORE ABOUT THE BOOK</a>
            </div>
            <div class="freedom__book">
              <img src="img/content/homepage_book.png" alt="">
            </div>
          </div>

        </section>
        <!-- END  freedom-->
        <!-- BEGIN  stats-->
        <div class="stats stats__app" id="stats">
          <div class="stats__in inner">
            <ul class="stats__list stats__list-purple">
              <li class="stats__item">
                <div class="stats__pic">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 27.6 39.7" style="enable-background:new 0 0 27.6 39.7;" xml:space="preserve">
                    <path class="icon-book" d="M26.4,5H3.6C2.9,5,2.3,4.4,2.3,3.6s0.6-1.3,1.3-1.3h22.8c0.6,0,1.1-0.5,1.1-1.1S27.1,0,26.4,0H3.6
	C1.6,0,0,1.6,0,3.6v32c0,2.2,1.8,4,4,4h19.6c2.2,0,4-1.8,4-4V6.1C27.6,5.5,27.1,5,26.4,5z M18.6,7.3h2.8V12l-0.8-0.7
	c-0.4-0.3-0.9-0.3-1.3,0L18.6,12V7.3z M23.6,37.4H4c-0.9,0-1.7-0.8-1.7-1.7V7c0.4,0.2,0.9,0.3,1.3,0.3h12.9v6.9
	c0,0.4,0.2,0.7,0.6,0.9c0.4,0.2,0.8,0.1,1.1-0.2l1.8-1.5l1.8,1.5c0.2,0.2,0.4,0.2,0.7,0.2c0.1,0,0.3,0,0.4-0.1
	c0.4-0.2,0.6-0.5,0.6-0.9V7.3h1.9v28.4C25.3,36.6,24.5,37.4,23.6,37.4z"></path>
                  </svg>


                </div>
                <div class="stats__num">
                </div>
                <div class="stats__desc">
                  Books sold
                </div>
              </li>
              <li class="stats__item">
                <div class="stats__pic">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 31 40" style="enable-background:new 0 0 31 40;" xml:space="preserve">

                    <path class="icon-kindle" d="M31,3.3C31,1.5,29.5,0,27.7,0c0,0,0,0,0,0H3.3C1.5,0,0,1.5,0,3.3c0,0,0,0,0,0v33.4C0,38.5,1.5,40,3.3,40h24.4
	c1.8,0,3.3-1.5,3.3-3.3L31,3.3L31,3.3z M29.3,36.7c0,0.9-0.7,1.7-1.7,1.7H3.3c-0.9,0-1.7-0.7-1.7-1.7V3.3c0-0.9,0.7-1.6,1.7-1.6
	c0,0,0,0,0,0h24.4c0.9,0,1.7,0.7,1.7,1.6c0,0,0,0,0,0L29.3,36.7L29.3,36.7z M27,3.2H4C3.5,3.1,3.2,3.5,3.2,4v28.9
	c0,0.5,0.4,0.8,0.8,0.8h23c0.5,0,0.8-0.4,0.8-0.8V4C27.8,3.5,27.5,3.1,27,3.2L27,3.2z M26.2,32H4.8V4.8h21.4L26.2,32L26.2,32z
	 M6.7,10.5h10.1v1.7H6.7V10.5z M6.7,15.5h17.6v1.7H6.7V15.5z M6.7,20.4h17.6v1.7H6.7V20.4z M6.7,25.4H21V27H6.7V25.4z"></path>
                  </svg>
                </div>
                <div class="stats__num">
                </div>
                <div class="stats__desc">
                  kindle &amp; audiobook
                </div>
              </li>
              <li class="stats__item">
                <div class="stats__pic">

                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 20 36" style="enable-background:new 0 0 20 36;" xml:space="preserve">

                    <g>
                      <path d="M16.4,0H3.5C1.6,0,0,1.6,0,3.5v28.9C0,34.4,1.6,36,3.5,36h12.9c1.9,0,3.5-1.6,3.5-3.5V3.5
		C20,1.6,18.4,0,16.4,0z M17.8,32.5c0,0.7-0.6,1.3-1.3,1.3H3.5c-0.7,0-1.3-0.6-1.3-1.3V3.5c0-0.7,0.6-1.3,1.3-1.3H5l0.1,0.2
		C5.4,3,5.9,3.3,6.5,3.3c0,0,0,0,0,0h7c0,0,0,0,0,0c0.6,0,1.2-0.4,1.4-0.9l0.1-0.2h1.5c0.7,0,1.3,0.6,1.3,1.3V32.5z" />
                      <circle cx="10" cy="30.6" r="1.6" />
                    </g>
                  </svg>


                </div>
                <div class="stats__num">
                </div>
                <div class="stats__desc">
                  APP downloadS
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- END  stats-->
      </div>

    </main>
    <!-- BEGIN  footer-->
    {% include "partials/footer.html" %}
    <!-- END  footer-->
  </div>


  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-app-->
  {% include "partials/popups/popup-app.html"%}
  <!-- END  popup-app-->


  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->




  {% include "partials/page-end.html"%}