{% include "partials/head.html" %}

<body>

  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->


  <div id="out">

    <main id="viewBox">
      <!-- BEGIN  bootcamp-->
      <section class="bootcamp" id="bootcamp">
        <div class="bootcamp__layer layer-logo"></div>
        <svg class="bootcamp__shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1199.9 290.3">
          <path data-name="Shape 1 copy 7" d="M1199.9 0a518.3 518.3 0 0 1-131.7 58.6C952.4 91.8 855 140.9 832 154.6S513.3 345.8 164.7 269.2C97.4 254.3 43.5 243 0 234.8v55.4h1200z"
            style="fill:#fff;fill-rule:evenodd" />
        </svg>
        <div class="bootcamp__in inner">
          <div class="bootcamp__head">
            <strong class="bootcamp__title title-bold">
              DARE BOOTCAMP
            </strong>
            <p class="bootcamp__subtitle">
              Overcome anxiety &
              <b>live a life of freedom.</b>
            </p>
          </div>
          <div class="tooltip tooltip__sold is-active" data-tooltip="0">
            <button class="tooltip__close" id="tooltip-close">
              close
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9"
                enable-background="new 0 0 21.9 21.9" width="15px" height="15px">
                <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"
                  fill="#32a1ac"></path>
              </svg>
            </button>
            <div class="tooltip__inner">
              <div class="tooltip__body">
                <h2 class="tooltip__title">
                  Sorry all places for this month’s bootcamp has been filled.
                </h2>
                <p class="tooltip__subtitle">
                  Click the button below to register your interest for upcoming Bootcamps.
                </p>
                <a href="#interest" class="btn-tooltip js-scrollto">
                  <svg width="297" height="54">
                    <defs>
                      <linearGradient id="as">
                        <stop offset="0%" stop-color="#329fab"></stop>
                        <stop offset="100%" stop-color="#329fab"></stop>
                      </linearGradient>
                    </defs>
                    <rect x="2" y="2" rx="6" fill="none" stroke="url(#as)" width="294" height="50"></rect>
                  </svg>
                  <span> register your interest</span>
                </a>
              </div>
              <div class="tooltip__footer">
                <p class="tooltip__text">
                  <b>IMPORTANT:</b> We only have a limited number of spots available for each bootcamp and space will
                  fill up
                  fast so register your interest now to avoid missing out. Places will be on a first come basis.
                </p>
              </div>
            </div>
          </div>
          <div class="tooltip tooltip__count" data-tooltip="1">
            <button class="tooltip__close" id="tooltip-close">
              close
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9"
                enable-background="new 0 0 21.9 21.9" width="15px" height="15px">
                <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"
                  fill="#32a1ac"></path>
              </svg>
            </button>
            <div class="tooltip__inner">
              <div class="tooltip__footer">
                <p class="tooltip__time">
                  Get $70 off, if you register now!
                  <b>Early bird offer ends in:</b>
                </p>
                <div class="countdown" id="countdown">
                  <div class="countdown__item">
                    <div class="countdown__title" id="days"></div>
                    <span class="countdown__subtitle">DAYS</span>
                  </div>
                  <div class="countdown__item">
                    <div class="countdown__title" id="hours"></div>
                    <span class="countdown__subtitle">Hours</span>
                  </div>
                  <div class="countdown__item">
                    <div class="countdown__title" id="minutes"></div>
                    <span class="countdown__subtitle">minutes</span>
                  </div>
                  <div class="countdown__item">
                    <div class="countdown__title" id="seconds"></div>
                    <span class="countdown__subtitle">seconds</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="bootcamp__scroll">
            <span class="scroll-to scroll-to__blue">scroll</span>
          </div>
          <!-- <div class="support support__bootcamp">
            <span class="support__text">
              SUPPORT
            </span>
          </div> -->

        </div>
      </section>
      <!-- END  bootcamp-->

      <!-- BEGIN  training-->
      <div class="training" data-trigger="true" id="training">
        <div class="training__in inner">
          <div class="training__header">
            <h2 class="training__title title-bold">
              You are not
              <span>
                your anxiety
              </span>
            </h2>
            <div class="training__text">
              <p>
                DARE Bootcamp is an exclusive
                <br>
                <b>10 DAY online coaching program</b>
                for people who l ike a challenge and want to breakthrough anxiety quickly.
              </p>
            </div>
          </div>
          <div class="training__video">
            <script src="https://fast.wistia.com/embed/medias/r9ylijjveq.jsonp" async></script>
            <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
              <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                <div class="wistia_embed wistia_async_r9ylijjveq videoFoam=true" style="height:100%;position:relative;width:100%">
                  <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img
                      src="https://fast.wistia.com/embed/medias/r9ylijjveq/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                      alt="" onload="this.parentNode.style.opacity=1;" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END  training-->

      <!-- BEGIN  programs-->
      <section class="program program__bootcamp" id="program">
        <svg class="program__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 211.7">
          <path data-name="Shape 2 copy 7" d="M0 1154.3c251 203.5 855.4 129.6 1200 210v1.7H0z" transform="translate(0 -1154.3)"
            style="fill-rule:evenodd;fill:#329daa" />
        </svg>
        <svg class="program__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 98.5">
          <path data-name="Shape 2 copy 8" d="M0 2242.4c181.1 54.6 379.8 76.4 610 9.6a1110.2 1110.2 0 0 1 590-11.2V2195H0z"
            transform="translate(0 -2195)" style="fill-rule:evenodd;fill:#665d95" />
        </svg>
        <div class="program__in inner">
          <div class="program__header">
            <h2>
              What you get when you join DARE Bootcamp
            </h2>
            <p>
              The DARE Bootcamp is designed to not take up much time each day. Expect to spend about 30-45 minutes a
              day implementing what
              you learn. All the content is short and to the point.</p>
          </div>
          <div class="program__body">
            <!-- <img src="img/content/phone_features.png" class="fear" alt=""> -->
            <div class="program__content program__flex">
              <div class="program__col js-content is-active" data-tab="1">
                <div class="program__col-text">
                  <div class="program__title">
                    Daily Videos
                  </div>
                  <div class="program__subtitle">
                    Each day I will be sending you a video via text message direct to your phone. These videos are a
                    combination of teachings
                    and specific challenges for you to undertake during the bootcamp. All the content is short and
                    focused
                    on getting quick results.
                  </div>
                </div>
                <div class="program__col-pic">
                  <img src="img/content/bootcamp/video.png" alt="">
                </div>
              </div>
              <div class="program__col js-content" data-tab="2">
                <div class="program__col-text">
                  <div class="program__title">
                    Group Calls
                  </div>
                  <div class="program__subtitle">
                    <p>
                      You will have three groups calls during the bootcamp. These are unique opportunities to ask
                      questions as well as to go deeper
                      into the work. If you are unable to make a call you can listen back to the call recordings. The
                      call
                      times are generally as follows:
                    </p>
                    <p>
                      1st Saturday of the Bootcamp at 12 noon EST.
                    </p>
                    <p>
                      Then 2 calls during the week at 8.30pm EST.
                    </p>
                  </div>
                </div>
                <div class="program__col-pic">
                  <!-- <img src="img/content/program/feature_deep_realease.png" alt="">
                   -->
                  <img src="img/content/bootcamp/call.png" alt="">
                </div>
              </div>
              <div class="program__col js-content" data-tab="3">
                <div class="program__col-text">
                  <div class="program__title">
                    Private Facebook Group
                  </div>
                  <div class="program__subtitle">
                    It's an area where you will get support and encouragement to achieve the goals you set.
                    Accountability is the key component
                    of this group. My previous coaching programs have attracted the very highest caliber of people.
                    Kind
                    supportive people who go way beyond the call of duty to support each other. I am excited to see
                    what
                    long lasting friendships and support develops from this group.
                  </div>
                </div>
                <div class="program__col-pic">
                  <!-- <img src="img/content/program/feature_courage.png" alt="">
                   -->
                  <img src="img/content/bootcamp/fb.png" alt="">
                </div>
              </div>

            </div>
            <div class="program__content program__content-bootcamp">
              <ul class="tabs__list tabs__list-bootcamp">
                <li class="tabs__item js-tab is-active" data-tab="1" data-popup="bootcampsl">
                  <h4 class="tabs__title">
                    Daily Videos
                  </h4>
                </li>
                <li class="tabs__item js-tab" data-tab="2" data-popup="bootcampsl">
                  <h4 class="tabs__title">
                    Group Calls
                  </h4>
                </li>
                <li class="tabs__item js-tab" data-tab="3" data-popup="bootcampsl">
                  <h4 class="tabs__title">
                    Private Facebook Group
                  </h4>
                </li>
              </ul>

            </div>

          </div>
          <div class="program__dots bootcamp-dots dots">
            <span class="dots__item js-dots is-active" data-tab="1"></span>
            <span class="dots__item js-dots" data-tab="2"></span>
            <span class="dots__item js-dots" data-tab="3"></span>
          </div>

        </div>
      </section>
      <!-- END  programs-->

      <!-- BEGIN  info-->
      <section class="info" data-trigger="true" id="info">
        <div class="info__in inner flex">
          <div class="info__pic">
            <img src="img/content/dare/d.png" alt="dare">
          </div>
          <div class="info__col">
            <h2 class="info__title title-bold">
              Support
              <br> to keep you
              <span>
                on track
              </span>
            </h2>
            <h3 class="info__subtitle">
              The DARE Bootcamp is for team players
            </h3>
            <p class="info__text">
              People who want to join a small group of people and do focused work for 10 days to end their anxiety
              problem. What you need
              is a community of people and coaches on hand week in week out to keep you focused on building a better
              life
              for yourself.
            </p>
          </div>
        </div>
      </section>
      <!-- END  info-->

      <!-- BEGIN  testimonial-->
      <div class="testimonial testimonial__bootcamp" id="testimonial">

        <svg class="testimonial__top" viewBox="0 0 1201 166" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
          <path d="M1200 88l-9.8-3.8C922-17.8 767.4-6 617.9 12.2 473.1 30.2 217.2 162.2 0 163.3v2.4h1200V88z" fill="#3498a7"
            fill-rule="evenodd" />
        </svg>
        <svg class="testimonial__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 195.8"
          preserveAspectRatio="xMidYMid slice">
          <path data-name="Shape 2 copy 6" d="M1200 4751c-220.3 13.1-444.3-150.5-639-179-240-35.1-478.8 62.7-561 101.2V4556h1200z"
            transform="translate(0 -4556)" style="fill-rule:evenodd;fill:#645b92" />
        </svg>

        <div class="testimonial__in inner">
          <div class="testimonial__header">
            <blockquote>
              <p>
                My goal for the DARE Bootcamp is to help you live a more fulfilled life ‘beyond anxiety’. Helping you
                to no longer let anxiety
                define who you are and what you are capable of.
              </p>
              <cite>
                <b>Barry McDonagh,</b> author of DARE book
              </cite>
            </blockquote>
          </div>
          <div class="testimonial__footer">
            <a href="" class="btn-primary">
              <svg width="250" height="58">
                <defs>
                  <linearGradient id="grad1">
                    <stop offset="0%" stop-color="white"></stop>
                    <stop offset="100%" stop-color="white"></stop>
                  </linearGradient>
                </defs>
                <rect x="2" y="2" rx="6" fill="none" stroke="url(#grad1)" width="247" height="54"></rect>
              </svg>
              <span>meet the dare team</span>
            </a>
          </div>
        </div>
      </div>
      <!-- END  testimonial-->

      <!-- BEGIN guarantee -->
      <div class="guarantee" data-trigger="true">
        <div class="guarantee__in inner">
          <h2 class="guarantee__title">
            Money back guarantee
          </h2>
          <div class="guarantee__subtitle">
            If you are willing to do the work, we guarantee you that you will get results.
          </div>
          <div class="guarantee__text">
            This is the only live coaching program you will find that has a full money back guarantee. What that means
            is that if you
            do not feel you have gotten the desired result, you can get a full refund of the program.
          </div>
        </div>
      </div>
      <!-- END GUARANTEE -->

      <!-- BEGIN  member-->
      <div class="member">
        <div class="member__layer">
          <svg class="member__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 176.4">
            <path fill="#804E8F" d="M0 176.4v-10.7s131.1-33.7 386.1-41.2C641.1 117 905.4 69 960 3v173.4H0z" />
          </svg>
          <svg class="member__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 86.7">
            <path fill="#A64081" d="M.3 43s135.4-37 240-32.3c34 .6 160 8 252 38 83.4 26 196 34 229.4 32.6s140-4.9 238.6-35.4V0H.3v43z" />
          </svg>
        </div>
        <div class="member__in inner">
          <h2 class="member__title">
            Become a member of the Dare Bootcamp
          </h2>
          <!-- BEGIN  steps 1-->
          <div class="member__step" data-tooltip="0">
            <p class="member__subtitle">
              Next course begins on the
              <span>23rd of June</span> so register now to apply.
            </p>
            <div class="member__col">
              <div class="member-item member-item__gray">
                <div class="member-in">
                  <p class="member-item__desc">
                    <b>NORMAL</b> PRICE
                  </p>
                  <h2 class="member-item__title">
                    DARE Bootcamp
                  </h2>
                  <div class="member-item__col">
                    <p>WAS</p>
                    <b class="member-item__price">$249</b>
                  </div>
                  <a href="" class="btn-cart">
                    <svg width="200" height="54">
                      <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                    </svg>
                    <span>buy now</span>
                  </a>
                </div>
              </div>
              <div class="member-item member-item__m30 member-item__purple">
                <div class="member-in">
                  <p class="member-item__desc">
                    <b>early</b> bird places
                  </p>
                  <h2 class="member-item__title">
                    DARE Bootcamp
                  </h2>
                  <div class="member-item__col">
                    <p>now only</p>
                    <b class="member-item__price">$179</b>
                  </div>
                  <a href="" class="btn-cart btn-cart__purple">
                    <svg width="200" height="54">
                      <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                    </svg>
                    <span>buy now</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="member__footer">
              <p class="member__note">
                Early birld places are limited and
                <b>will close when full.</b>
              </p>
              <div class="member__security">
                <p>
                  For your security, all orders are processed on a secured server.
                </p>
                <p>
                  *EU VAT charges will apply to EU billing addresses.
                </p>
                <p>
                  (after final registration the price will increase to
                  <b>$249</b> for any last minute sign ups)
                </p>
              </div>
            </div>
          </div>
          <!-- END  steps-->
          <!-- BEGIN  steps 2-->
          <div class="member__step is-active" data-tooltip="1">
            <p class="member__subtitle">
              <span>Sorry all places for this month's bootcamp has been filled</span>
            </p>
            <div class="member__col">
              <div class="member-item member-item__black">
                <div class="member-in" id="interest">
                  <p class="member-item__head">
                    To register your interest, please
                    <br> enter your email address below.
                  </p>
                  <form action="" class="member-item__form">
                    <div class="form__field">
                      <label class="form__label" for="details">
                        EMAIL
                      </label>
                      <input type="email" id="details" class="form__input form__input-bl">
                    </div>
                    <div class="form__field">
                      <button type="submit" class="btn-cart btn-cart__black">
                        <svg width="200" height="54">
                          <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                        </svg>
                        <span>send me details</span>
                      </button>
                    </div>
                  </form>
                  <div class="member-item__info">
                    We value your privacy and would never spam you
                  </div>
                </div>
              </div>
            </div>
            <div class="member__footer">
              <p>
                <b>WARNING:</b> We only have a limited number of spots available for each bootcamp and space will fill
                up fast
                so register your interest now to avoid missing out. Places will be on a first come basis.
              </p>
            </div>
          </div>
          <!-- END  steps-->
          <!-- BEGIN  steps 3-->
          <div class="member__step " data-tooltip="3">
            <p class="member__subtitle">
              Next course begins on the
              <span>23rd of June</span> so register now to apply.
            </p>
            <div class="member__col">
              <div class="member-item member-item__black">
                <div class="member-in">
                  <p class="member-item__desc">
                    <b>10 day</b> online coaching
                  </p>
                  <h2 class="member-item__title">
                    DARE Bootcamp
                  </h2>
                  <div class="member-item__col">
                    <b class="member-item__price">$249</b>
                  </div>
                  <a href="" class="btn-cart btn-cart__black">
                    <svg width="200" height="54">
                      <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                    </svg>
                    <span>add to cart</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="member__footer">
              <div class="member__security">
                <p>
                  For your security, all orders are processed on a secured server.
                </p>
                <p>
                  *EU VAT charges will apply to EU billing addresses.
                </p>
              </div>
            </div>
          </div>
          <!-- END  steps-->
        </div>
      </div>

      <!-- END  member-->


      <!-- BEGIN  FAQs-->
      <section class="faqs" data-trigger="true" id="faqs">
        <div class="faqs__in inner">
          <h2 class="faqs__title">FAQs</h2>
          <ul class="faqs__list">
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">How is this different than your other coaching programs?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with
                  almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">Can I access the program on my smartphone or tablet?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with
                  almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">Can I cancel my membership at anytime?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with
                  almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">I have a question that is not answered here. How can I get help?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with
                  almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- END  FAQs-->



    </main>
    <!-- BEGIN  footer-->
    {% include "partials/footer.html" %}
    <!-- END  footer-->
  </div>

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->


  <!-- BEGIN  popup-bootcamp-->
  {% include "partials/popups/popup-bootcamp.html"%}
  <!-- END  popup-bootcamp-->




  {% include "partials/page-end.html"%}