{% include "partials/head.html" %}

<body>

  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->


  <div id="out">

    <div id="viewBox">





      <section class="bootcamp">
        <img src="img/content/bootcamp/header.png" alt="">

        <div class="bootcamp__layer">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 632.969 257.969">
            <defs>
              <style>
                .bootcamp-grad {
                  fill-rule: evenodd;
                  fill: url(#bootcamp-grad);
                  filter: url(#filter);
                }
              </style>
              <linearGradient id="bootcamp-grad" x1="316.469" y1="257.969" x2="316.469" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#32a1ac" />
                <stop offset="1" stop-color="#336e95" />
              </linearGradient>
              <filter id="filter" x="-0.031" y="0" width="633" height="257.969" filterUnits="userSpaceOnUse">
                <feGaussianBlur result="blur" stdDeviation="4" in="SourceAlpha" />
                <feFlood result="flood" flood-opacity="0.07" />
                <feComposite result="composite" operator="out" in2="blur" />
                <feOffset result="offset" dy="4" />
                <feComposite result="composite-2" operator="in" in2="SourceAlpha" />
                <feBlend result="blend" mode="multiply" in2="SourceGraphic" />
              </filter>
            </defs>
            <path id="Shape_1_copy_6" data-name="Shape 1 copy 6" class="bootcamp-grad" d="M-0.034,257.969c28.3-12.542,58.969-32.619,90.276-63.486C184.222,101.815,385.935,46.9,515.445,96.1c0,0,55.012,17.158,95.124-54.913C617.786,28.218,625.336,14.29,632.973,0H0Z"
            />
          </svg>
        </div>
        <div class="bootcamp__shape">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1199.906 290.25">
            <defs>
              <style>
                .bootcamp-shape {
                  fill: #fff;
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <path id="Shape_1_copy_7" data-name="Shape 1 copy 7" class="bootcamp-shape" d="M1199.99,412.747a518.347,518.347,0,0,1-131.66,58.578c-115.8,33.179-213.264,82.372-236.2,96.1s-318.756,191.046-667.321,114.4C97.5,667.02,43.566,655.886.08,647.516V703H1200Z"
              transform="translate(-0.094 -412.75)"></path>
          </svg>

        </div>
        <div class="bootcamp__in inner">
          <div class="bootcamp__head">
            <strong class="bootcamp__title">
              DARE BOOTCAMP
            </strong>
            <p class="bootcamp__subtitle">
              Overcome anxiety &
              <b>live a life of freedom.</b>
            </p>
          </div>
          <div class="tooltip" data-tooltip="0">
            <button class="tooltip__close" id="tooltip-close">
              close
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9"
                enable-background="new 0 0 21.9 21.9" width="18px" height="17px">
                <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"
                  fill="#32a1ac"></path>
              </svg>
            </button>
            <div class="tooltip__inner">
              <div class="tooltip__body">
                <h2 class="tooltip__title">
                  Sorry all places for this month’s bootcamp has been filled.
                </h2>
                <p class="tooltip__subtitle">
                  Click the button below to register your interest for upcoming Bootcamps.
                </p>
                <button class="btn-tooltip">
                  <svg width="297" height="54">
                    <defs>
                      <linearGradient id="as">
                        <stop offset="0%" stop-color="#329fab"></stop>
                        <stop offset="100%" stop-color="#329fab"></stop>
                      </linearGradient>
                    </defs>
                    <rect x="2" y="2" rx="6" fill="none" stroke="url(#as)" width="294" height="50"></rect>
                  </svg>
                  <span> register your interest</span>
                </button>
              </div>
              <div class="tooltip__footer">
                <p class="tooltip__text">
                  <b>IMPORTANT:</b> We only have a limited number of spots available for each bootcamp and space will fill up
                  fast so register your interest now to avoid missing out. Places will be on a first come basis.
                </p>
              </div>
            </div>
          </div>
          <div class="bootcamp__scroll">
            <span class="scroll-to scroll-to__blue">scroll</span>
          </div>

        </div>
      </section>





      <div class="training" data-trigger="true">
        <div class="training__in inner">
          <div class="training__header">
            <h2 class="training__title">
              You are not
              <span>
                your anxiety
              </span>
            </h2>
            <div class="training__text">
              <p>
                DARE Bootcamp is an exclusive
                <br>
                <b>10 DAY online coaching program</b>
                for people who l ike a challenge and want to breakthrough anxiety quickly.
              </p>
            </div>
          </div>
          <div class="training__video">
            <iframe src="https://player.vimeo.com/video/36403205" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <!-- BEGIN  programs-->
      <section class="program program__bootcamp" id="program">
        <div class="program__top">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 211.69">
            <defs>
              <style>
                .program-top {
                  fill-rule: evenodd;
                  fill: url(#program-top);
                }
              </style>
              <linearGradient id="program-top" x1="599.984" y1="1366" x2="599.984" y2="1154.31" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#329daa"></stop>
                <stop offset="1" stop-color="#329daa"></stop>
              </linearGradient>
            </defs>
            <path id="Shape_2_copy_7" data-name="Shape 2 copy 7" class="program-top" d="M-0.027,1154.31c251.023,203.47,855.391,129.62,1200.037,210V1366H0Z"
              transform="translate(0 -1154.31)"></path>
          </svg>

        </div>
        <div class="program__bottom">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 98.47">
            <defs>
              <style>
                .program-bottom {
                  fill-rule: evenodd;
                  fill: url(#program-bottom);
                }
              </style>
              <linearGradient id="program-bottom" x1="600" y1="2293.47" x2="600" y2="2195" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#665d95"></stop>
                <stop offset="1" stop-color="#665d95"></stop>
              </linearGradient>
            </defs>
            <path id="Shape_2_copy_8" data-name="Shape 2 copy 8" class="program-bottom" d="M-0.006,2242.44C181.139,2296.97,379.76,2318.77,610,2252c216.116-62.68,414.8-55.5,590-11.23V2195H0Z"
              transform="translate(0 -2195)"></path>
          </svg>

        </div>
        <div class="program__in inner">
          <div class="program__header">
            <h2>
              What you get when you join DARE Bootcamp
            </h2>
            <p>
              The DARE Bootcamp is designed to not take up much time each day. Expect to spend about 30-45 minutes a day implementing what
              you learn. All the content is short and to the point.</p>
          </div>
          <div class="program__body">
            <!-- <img src="img/content/phone_features.png" class="fear" alt=""> -->
            <div class="program__content program__flex">
              <div class="program__col js-content is-active" data-tab="1">
                <div class="program__col-text">
                  <div class="program__title">
                    Daily Videos
                  </div>
                  <div class="program__subtitle">
                    Each day I will be sending you a video via text message direct to your phone. These videos are a combination of teachings
                    and specific challenges for you to undertake during the bootcamp. All the content is short and focused
                    on getting quick results.
                  </div>
                </div>
                <div class="program__col-pic">
                  <img src="img/content/bootcamp/video.png" alt="">
                </div>
              </div>
              <div class="program__col js-content" data-tab="2">
                <div class="program__col-text">
                  <div class="program__title">
                    Group Calls
                  </div>
                  <div class="program__subtitle">
                    <p>
                      You will have three groups calls during the bootcamp. These are unique opportunities to ask questions as well as to go deeper
                      into the work. If you are unable to make a call you can listen back to the call recordings. The call
                      times are generally as follows:
                    </p>
                    <p>
                      1st Saturday of the Bootcamp at 12 noon EST.
                    </p>
                    <p>
                      Then 2 calls during the week at 8.30pm EST.
                    </p>
                  </div>
                </div>
                <div class="program__col-pic">
                  <!-- <img src="img/content/program/feature_deep_realease.png" alt="">
                   -->
                  <img src="img/content/bootcamp/call.png" alt="">
                </div>
              </div>
              <div class="program__col js-content" data-tab="3">
                <div class="program__col-text">
                  <div class="program__title">
                    Private Facebook Group
                  </div>
                  <div class="program__subtitle">
                    It's an area where you will get support and encouragement to achieve the goals you set. Accountability is the key component
                    of this group. My previous coaching programs have attracted the very highest caliber of people. Kind
                    supportive people who go way beyond the call of duty to support each other. I am excited to see what
                    long lasting friendships and support develops from this group.
                  </div>
                </div>
                <div class="program__col-pic">
                  <!-- <img src="img/content/program/feature_courage.png" alt="">
                   -->
                  <img src="img/content/bootcamp/fb.png" alt="">
                </div>
              </div>

            </div>
            <div class="program__content program__content-bootcamp">
              <ul class="tabs__list tabs__list-bootcamp">
                <li class="tabs__item js-tab is-active" data-tab="1">
                  <h4 class="tabs__title">
                    Daily Videos
                  </h4>
                </li>
                <li class="tabs__item js-tab" data-tab="2">
                  <h4 class="tabs__title">
                    Group Calls
                  </h4>
                </li>
                <li class="tabs__item js-tab" data-tab="3">
                  <h4 class="tabs__title">
                    Private Facebook Group
                  </h4>
                </li>
              </ul>

            </div>

          </div>
          <div class="program__dots dots">
            <span class="dots__item js-dots is-active" data-tab="1"></span>
            <span class="dots__item js-dots" data-tab="2"></span>
            <span class="dots__item js-dots" data-tab="3"></span>
          </div>

        </div>
      </section>
      <!-- END  programs-->


      <!-- BEGIN  info-->
      <section class="info" data-trigger="true">
        <div class="info__in inner flex">
          <div class="info__pic">
            <img src="img/content/dare/d.png" alt="dare">
          </div>
          <div class="info__col">
            <h2 class="info__title">
              Support
              <br> to keep you
              <span>
                on track
              </span>
            </h2>
            <h3 class="info__subtitle">
              The DARE Bootcamp is for team players
            </h3>
            <p class="info__text">
              People who want to join a small group of people and do focused work for 10 days to end their anxiety problem. What you need
              is a community of people and coaches on hand week in week out to keep you focused on building a better life
              for yourself.
            </p>
          </div>
        </div>
      </section>

      <!-- END  info-->


      <!-- BEGIN  intro-->
      <!-- <section class="intro section" id="intro" data-trigger="true">
        <div class="intro__in inner">
          <div class="intro__screen">
            <div class="intro__title">
              you Are
              <span>not</span> alone
            </div>
            <div class="intro__subtitle">
              <p>
                There are literally millions of perfectly sane, normal people who have the exact same problem as you do.
              </p>
            </div>
          </div>
          <div class="intro__col intro__col1">

            <img class="intro__images" src="img/content/dare/d.png" alt="dare">
            <img class="intro__images" src="img/content/dare/a.png" alt="dare">
            <img class="intro__images" src="img/content/dare/r.png" alt="dare">
            <img class="intro__images" src="img/content/dare/e.png" alt="dare">
          </div>
          <div class="intro__col intro__col2">
            <div class="intro__body intro-hide">
              <div class="intro__title">
                Support to keep you
                <span>on track </span>
              </div>
              <div class="intro__text">
                The DARE Bootcamp is for team players
              </div>
              <div class="intro__subtitle">
                <p>
                  People who want to join a small group of people and do focused work for 10 days to end their anxiety problem. What you need
                  is a community of people and coaches on hand week in week out to keep you focused on building a better
                  life for yourself.
                </p>
              </div>
            </div>

          </div>
        </div>
      </section> -->

      <!-- END  intro-->





      <!-- BEGIN  testimonial-->
      <div class="testimonial testimonial__bootcamp" id="testimonial">
        <div class="testimonial__top">

          <svg viewBox="0 0 1201 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

            <defs>
              <linearGradient x1="49.9995833%" y1="100%" x2="49.9995833%" y2="-0.00455409968%" id="test-gradient1">
                <stop offset="0" stop-color="#3498a7"></stop>
                <stop offset="1" stop-color="#3498a7"></stop>
              </linearGradient>
            </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="footer-(1)" fill="url(#test-gradient1)">
                <path d="M1200.04,87.98 C1196.78,86.75 1193.48333,85.5033333 1190.15,84.24 C922.082,-17.83 767.365,-6.1 617.905,12.26 C473.109,30.05 217.227,162.08 0,163.16 L0,165.62 L1200,165.62 L1200.04,87.98 Z"
                  id="top"></path>
              </g>
            </g>
          </svg>
        </div>
        <div class="testimonial__bottom">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 195.75">
            <defs>
              <style>
                .testimonial-bottom {
                  fill-rule: evenodd;
                  fill: url(#test-gradient2);
                }
              </style>
              <linearGradient id="test-gradient2" x1="600.015" y1="4751.75" x2="600.015" y2="4556" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#645b92"></stop>
                <stop offset="1" stop-color="#645b92"></stop>
              </linearGradient>
            </defs>
            <path id="Shape_2_copy_6" data-name="Shape 2 copy 6" class="testimonial-bottom" d="M1200.03,4751.01C979.657,4764.15,755.7,4600.48,561,4572c-240.067-35.12-478.811,62.67-561,101.17V4556H1200Z"
              transform="translate(0 -4556)"></path>
          </svg>

        </div>
        <div class="testimonial__in inner">
          <div class="testimonial__header">
            <blockquote>
              <p>
                My goal for the DARE Bootcamp is to help you live a more fulfilled life ‘beyond anxiety’. Helping you to no longer let anxiety
                define who you are and what you are capable of.
              </p>
              <cite>
                <b>Barry McDonagh,</b> author of DARE book
              </cite>
            </blockquote>
          </div>
          <div class="testimonial__footer">
            <a href="" class="btn-primary">
              <svg width="250" height="58">
                <defs>
                  <linearGradient id="grad1">
                    <stop offset="0%" stop-color="white"></stop>
                    <stop offset="100%" stop-color="white"></stop>
                  </linearGradient>
                </defs>
                <rect x="2" y="2" rx="6" fill="none" stroke="url(#grad1)" width="247" height="54"></rect>
              </svg>
              <span>meet the dare team</span>
            </a>
          </div>
        </div>
      </div>
      <!-- END  testimonial-->




      <!-- BEGIN guarantee -->
      <div class="guarantee" data-trigger="true">
        <div class="guarantee__in inner">
          <h2 class="guarantee__title">
            Money back guarantee
          </h2>
          <div class="guarantee__subtitle">
            If you are willing to do the work, we guarantee you that you will get results.
          </div>
          <div class="guarantee__text">
            This is the only live coaching program you will find that has a full money back guarantee. What that means is that if you
            do not feel you have gotten the desired result, you can get a full refund of the program.
          </div>
        </div>
      </div>
      <!-- END GUARANTEE -->

      <!-- BEGIN  member-->
      <div class="member">
        <div class="member__in inner">
          <h2 class="member__title">
            Become a member of the Dare Bootcamp
          </h2>
          <!-- BEGIN  steps-->
          <div class="member__step" data-tooltip="0">
            <p class="member__subtitle">
              Next course begins on the
              <span>23rd of June</span> so register now to apply.
            </p>
            <div class="member__col">
              <div class="member-item member-item__gray">
                <div class="member-in">
                  <p class="member-item__desc">
                    <b>NORMAL</b> PRICE
                  </p>
                  <h2 class="member-item__title">
                    DARE Bootcamp
                  </h2>
                  <div class="member-item__col">
                    <p>WAS</p>
                    <b class="member-item__price">$249</b>
                  </div>
                  <a href="" class="btn-cart">
                    <svg width="200" height="54">
                      <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                    </svg>
                    <span>buy now</span>
                  </a>
                </div>
              </div>
              <div class="member-item member-item__m30 member-item__purple">
                <div class="member-in">
                  <p class="member-item__desc">
                    <b>early</b> bird places
                  </p>
                  <h2 class="member-item__title">
                    DARE Bootcamp
                  </h2>
                  <div class="member-item__col">
                    <p>now only</p>
                    <b class="member-item__price">$179</b>
                  </div>
                  <a href="" class="btn-cart btn-cart__purple">
                    <svg width="200" height="54">
                      <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                    </svg>
                    <span>buy now</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="member__footer">
              <p class="member__note">
                Early birld places are limited and
                <b>will close when full.</b>
              </p>
              <div class="member__security">
                <p>
                  For your security, all orders are processed on a secured server.
                </p>
                <p>
                  *EU VAT charges will apply to EU billing addresses.
                </p>
                <p>
                  (after final registration the price will increase to
                  <b>$249</b> for any last minute sign ups)
                </p>
              </div>
            </div>
          </div>
          <!-- END  steps-->
          <!-- BEGIN  steps-->
          <div class="member__step" data-tooltip="1">
            <p class="member__subtitle">
              <span>Sorry all places for this month's bootcamp has been filled</span>
            </p>
            <div class="member__col">
              <div class="member-item member-item__black">
                <div class="member-in">
                  <p class="member-item__head">
                    To register your interest, please
                    <br> enter your email address below.
                  </p>
                  <form action="" class="member-item__form">
                    <div class="form__field">
                      <label class="form__label" for="details">
                        EMAIL
                      </label>
                      <input type="email" id="details" class="form__input form__input-bl">
                    </div>
                    <div class="form__field">
                      <button type="submit" class="btn-cart btn-cart__black">
                        <svg width="200" height="54">
                          <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                        </svg>
                        <span>send me details</span>
                      </button>
                    </div>
                  </form>
                  <div class="member-item__info">
                    We value your privacy and would never spam you
                  </div>
                </div>
              </div>
            </div>
            <div class="member__footer">
              <p>
                <b>WARNING:</b> We only have a limited number of spots available for each bootcamp and space will fill up fast
                so register your interest now to avoid missing out. Places will be on a first come basis.
              </p>
            </div>
          </div>
          <!-- END  steps-->
          <!-- BEGIN  steps-->
          <div class="member__step" data-tooltip="3">
            <p class="member__subtitle">
              Next course begins on the
              <span>23rd of June</span> so register now to apply.
            </p>
            <div class="member__col">
              <div class="member-item member-item__black">
                <div class="member-in">
                  <p class="member-item__desc">
                    <b>10 day</b> online coaching
                  </p>
                  <h2 class="member-item__title">
                    DARE Bootcamp
                  </h2>
                  <div class="member-item__col">
                    <b class="member-item__price">$249</b>
                  </div>
                  <a href="" class="btn-cart btn-cart__black">
                    <svg width="200" height="54">
                      <rect x="2" y="2" rx="6" fill="none" width="197" height="50"></rect>
                    </svg>
                    <span>add to cart</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="member__footer">
              <div class="member__security">
                <p>
                  For your security, all orders are processed on a secured server.
                </p>
                <p>
                  *EU VAT charges will apply to EU billing addresses.
                </p>
              </div>
            </div>
          </div>
          <!-- END  steps-->
        </div>
      </div>

      <!-- END  member-->


      <!-- BEGIN  FAQs-->
      <section class="faqs" data-trigger="true">
        <div class="faqs__in inner">
          <h2 class="faqs__title">FAQs</h2>
          <ul class="faqs__list">
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">How is this different than your other coaching programs?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">Can I access the program on my smartphone or tablet?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">Can I cancel my membership at anytime?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
            <li class="faqs__list-item">
              <h3 class="faqs__list-title js-toggle">I have a question that is not answered here. How can I get help?</h3>
              <div class="faqs__list-content">
                <p>
                  Yes, all the materials are delivered on a state of the art learning platform that is compatible with almost every mobile
                  device. This means you can access the training wherever you go 24/7!
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- END  FAQs-->

      {% include "partials/footer.html" %}







    </div>

  </div>

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->







  {% include "partials/page-end.html"%}