{% include "partials/head.html" %}

<body>

  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->


  <div id="out">

    <main id="viewBox">
      <!-- BEGIN  promo-->
      <section class="promo promo__coaching" id="promo">
        <div class="promo__layer promo__layer-coaching">
          <div class="promo__shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 146.25" preserveAspectRatio="xMidYMid slice">
              <path data-name="Shape 2 copy 3" d="M1199.99 466.85c-86.77-7.7-280.92-11.25-524.19 68.82C450.1 609.96 232.82 624.75 0 584.13V460H1200z"
                transform="translate(0 -460)" fill-rule="evenodd" fill="#f75971" />
            </svg>
          </div>
        </div>
        <div class="promo__in inner flex">
          <div class="promo__col">
            <h2 class="promo__title title-bold">
              one to one coaching
            </h2>
            <div class="promo__text">
              Talking it out often leads to
              <br>
              <b>light bulb moments.</b>
            </div>
            <div class="promo__subtitle">
              A one on one session with one of our coaches will help you shed a lot of light on how you need to use the
              information in
              the book.
            </div>
            <div class="promo__btn">
              <a href="#coaching" class="btn-primary js-scrollto">
                <svg width="250" height="58">
                  <rect x="2" y="2" rx="6" fill="none" stroke="white" width="247" height="54"></rect>
                </svg>
                <span>meet the coaches</span>
              </a>
            </div>
          </div>
          <div class="promo__pic">
            <img src="img/content/coaching/phone.png" alt="">
          </div>
          <div class="promo__scroll">
            <span class="scroll-to scroll-to__coaching">scroll</span>
          </div>
        </div>
      </section>
      <!-- END  promo-->
      <!-- BEGIN  plus-->
      <section class="plus plus__coaching" data-trigger="true" id="plus">
        <div class="plus__in inner flex">
          <div class="plus__col">
            <div class="plus__header">
              <div class="plus__title plus__title-coaching">
                <h2 class="title-bold">
                  <span>we’re here</span>
                  <br> to help you
                </h2>
              </div>
              <div class="plus__body">
                <p>
                  Our coaches will provide you with a walkthrough of the steps as well as use many different metaphors
                  and visuals to make
                  you understand them.
                </p>
              </div>
            </div>

          </div>

        </div>
      </section>
      <!-- END  plus-->

      <!-- BEGIN  coaching-->
      <section class="coaching" id="coaching">
        <svg class="coaching__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 208.9" preserveAspectRatio="xMidYMid slice">
          <path data-name="Shape 2 copy 5" d="M1200 1408v-2.3c-340.9-82-944-8-1200-206.6V1408h1200zM-316 2452"
            transform="translate(0 -1199)" fill-rule="evenodd" fill="#ec5068" />
        </svg>
        <svg class="coaching__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 95.5">
          <path data-name="Shape 2 copy 6" d="M1200 2330.3a1110.4 1110.4 0 0 0-596 9.7c-227.7 66-424.5 45.4-604-7.8V2286h1200zM-316 2452"
            transform="translate(0 -2286)" style="fill-rule:evenodd;fill:white" />
        </svg>

        <div class="coaching__in inner">
          <div class="coaching__col">
            <div class="coaching__title">
              <span class="title-bold">Talk to</span>
              <h2>
                <b>Michelle</b> Cavanaugh</h2>
            </div>
            <div class="coaching__body">
              <p>
                Michelle is a licensed clinical therapist with years of experience helping people break free from
                anxiety and has significant
                training in various areas, including Motivational therapy, and Applied Behavioral Analysis (ABA).
              </p>
              <p>
                Michelle's approach is strengths-based and motivational using Cognitive Behavioral Therapy (CBT)
                techniques and specializes
                in anxiety disorders.
              </p>
            </div>
            <div class="coaching__footer">
              <div class="price">
                <div class="price__col">
                  <b class="price__unit">$70.00</b>
                  <span>30 min session</span>
                </div>
                <div class="price__col">
                  <b class="price__unit">$140.00</b>
                  <span>1 hour session</span>
                </div>
              </div>
              <a href="" class="btn-secondary">
                <svg width="208" height="58">
                  <rect x="2" y="2" fill="none" stroke="white" width="204" height="54" rx="5"></rect>
                </svg>
                <span>BOOK NOW</span>
              </a>
            </div>
          </div>
          <div class="coaching__pic">
            <img src="img/content/team/michelle.png" alt="">

          </div>
        </div>
      </section>
      <!-- END  coaching-->

      <!-- BEGIN  coaching-->
      <section class="coaching" data-trigger="true">
        <div class="coaching__in inner">
          <div class="coaching__col">
            <div class="coaching__title">
              <span class="title-bold">Talk to</span>
              <h2>
                <b>Suzane</b> Brikassa</h2>
            </div>
            <div class="coaching__body">
              <p>
                Suzane Brikassa is a life and anxiety coach, who with the help of Barry McDonagh's program has made it
                her mission and passion
                to help people from all walks of life, to achieve a more peaceful anxiety free state.
              </p>
              <p>
                Now recovered for over 6 years, with the help of this program and her constant motivational tools, she
                is able to teach many
                to do the exact same.
              </p>
            </div>
            <div class="coaching__footer">
              <div class="price">
                <div class="price__col">
                  <b class="price__unit price__unit-purple">$60.00</b>
                  <span>30 min session</span>
                </div>
                <div class="price__col">
                  <b class="price__unit price__unit-purple">$100.00</b>
                  <span>1 hour session</span>
                </div>
              </div>
              <a href="" class="btn-secondary">
                <svg width="208" height="58">
                  <rect x="2" y="2" fill="none" stroke="#be4076" width="204" height="54" rx="5"></rect>
                </svg>
                <span>BOOK NOW</span>
              </a>
            </div>
          </div>
          <div class="coaching__pic">
            <img src="img/content/coaching/susane.png" alt="">
          </div>
        </div>
      </section>
      <!-- END  coaching-->


    </main>
    {% include "partials/footer.html" %}

  </div>

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->



  {% include "partials/page-end.html"%}