{% include "partials/head.html" %}

<body>

  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->


  <div id="out">

    <div id="viewBox">
      <!-- BEGIN  promo-->
      <section class="promo promo__coaching" id="promo">
        <div class="promo__layer promo__layer-coaching">
          <div class="promo__shape">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 146.25">
              <defs>
                <linearGradient id="linear-coaching" x1="600" y1="606.25" x2="600" y2="460" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#f75971" />
                  <stop offset="1" stop-color="#f75971" />
                </linearGradient>
              </defs>
              <path data-name="Shape 2 copy 3" d="M1199.99 466.85c-86.77-7.7-280.92-11.25-524.19 68.82C450.1 609.96 232.82 624.75 0 584.13V460H1200z"
                transform="translate(0 -460)" fill-rule="evenodd" fill="url(#linear-coaching)" />
            </svg>
          </div>
        </div>
        <div class="promo__in inner flex">
          <div class="promo__col">
            <h2 class="promo__title">
              one to one coaching
            </h2>
            <div class="promo__text">
              Talking it out often leads to
              <br>
              <b>light bulb moments.</b>
            </div>
            <div class="promo__subtitle">
              A one on one session with one of our coaches will help you shed a lot of light on how you need to use the information in
              the book.
            </div>
            <div class="promo__btn">
              <a href="" class="btn-primary">
                <svg width="250" height="58">
                  <defs>
                    <linearGradient id="grad1">
                      <stop offset="0%" stop-color="white"></stop>
                      <stop offset="100%" stop-color="white"></stop>
                    </linearGradient>
                  </defs>
                  <rect x="2" y="2" rx="6" fill="none" stroke="url(#grad1)" width="247" height="54"></rect>
                </svg>
                <span>meet the coaches</span>
              </a>
            </div>
          </div>
          <div class="promo__pic">
            <img src="img/content/coaching/phone.png" alt="">
          </div>
          <div class="promo__scroll">
            <span class="scroll-to scroll-to__coaching">scroll</span>
          </div>
        </div>
      </section>
      <!-- END  promo-->
      <!-- BEGIN  plus-->
      <section class="plus plus__coaching" data-trigger="true" id="plus">
        <div class="plus__in inner flex">
          <div class="plus__col">
            <div class="plus__header">
              <div class="plus__title plus__title-coaching">
                <h2>
                  <span>we’re here</span>
                  <br> to help you
                </h2>
              </div>
              <div class="plus__body">
                <p>
                  Our coaches will provide you with a walkthrough of the steps as well as use many different metaphors and visuals to make
                  you understand them.
                </p>
              </div>
            </div>

          </div>

        </div>
      </section>
      <!-- END  plus-->

      <!-- BEGIN  coaching-->
      <section class="coaching">
        <div class="coaching__top">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 208.91">
            <defs>
              <style>
                .coaching-top {
                  fill-rule: evenodd;
                  fill: url(#coaching-top);
                }
              </style>
              <linearGradient id="coaching-top" x1="600" y1="1408" x2="600" y2="1199.09" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#ec5068" />
                <stop offset="1" stop-color="#ec5068" />
              </linearGradient>
            </defs>
            <path data-name="Shape 2 copy 5" d="M1200 1408l-.01-2.28C859.1 1323.71 256.04 1397.78 0 1199.09V1408h1200zM-316 2452" transform="translate(0 -1199.09)"
              fill-rule="evenodd" fill="url(#coaching-top)" />
          </svg>


        </div>
        <div class="coaching__bottom">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 95.47">
            <defs>
              <style>
                .coaching-bottom {
                  fill-rule: evenodd;
                  fill: url(#coaching-bottom);
                }
              </style>
              <linearGradient id="coaching-bottom" x1="600" y1="2381.47" x2="600" y2="2286" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#bb4077"></stop>
                <stop offset="1" stop-color="#bb4077"></stop>
              </linearGradient>
            </defs>
            <path id="Shape_2_copy_6" data-name="Shape 2 copy 6" class="coaching-bottom" d="M1199.98,2330.3c-176.65-45.63-377.4-53.69-595.98,9.7-227.7,66.04-424.475,45.44-604-7.77L0,2286H1200ZM-316,2452"
              transform="translate(0 -2286)"></path>
          </svg>

        </div>
        <div class="coaching__in inner">
          <div class="coaching__col">
            <div class="coaching__title">
              <span>Talk to</span>
              <h2>
                <b>Michelle</b> Cavanaugh</h2>
            </div>
            <div class="coaching__body">
              <p>
                Michelle is a licensed clinical therapist with years of experience helping people break free from anxiety and has significant
                training in various areas, including Motivational therapy, and Applied Behavioral Analysis (ABA).
              </p>
              <p>
                Michelle's approach is strengths-based and motivational using Cognitive Behavioral Therapy (CBT) techniques and specializes
                in anxiety disorders.
              </p>
            </div>
            <div class="coaching__footer">
              <div class="price">
                <div class="price__col">
                  <b class="price__unit">$70.00</b>
                  <span>30 min session</span>
                </div>
                <div class="price__col">
                  <b class="price__unit">$140.00</b>
                  <span>1 hour session</span>
                </div>
              </div>
              <a href="" class="btn-secondary btn-secondary__white">
                <svg width="208" height="58">
                  <defs>
                    <linearGradient id="btnwhite">
                      <stop offset="0%" stop-color="#fff"></stop>
                      <stop offset="100%" stop-color="#fff"></stop>
                    </linearGradient>
                  </defs>
                  <rect x="2" y="2" fill="none" stroke="url(#btnwhite)" width="204" height="54" rx="5"></rect>
                </svg>
                <span>BOOK NOW</span>
              </a>
            </div>
          </div>
          <img src="img/content/coaching/michelle.png" alt="">
        </div>
      </section>
      <!-- END  coaching-->
      <!-- BEGIN  coaching-->
      <section class="coaching" data-trigger="true">
        <div class="coaching__in inner">
          <div class="coaching__col">
            <div class="coaching__title">
              <span>Talk to</span>
              <h2>
                <b>Suzane</b> Brikassa</h2>
            </div>
            <div class="coaching__body">
              <p>
                Suzane Brikassa is a life and anxiety coach, who with the help of Barry McDonagh's program has made it her mission and passion
                to help people from all walks of life, to achieve a more peaceful anxiety free state.
              </p>
              <p>
                Now recovered for over 6 years, with the help of this program and her constant motivational tools, she is able to teach many
                to do the exact same.
              </p>
            </div>
            <div class="coaching__footer">
              <div class="price">
                <div class="price__col">
                  <b class="price__unit price__unit-purple">$60.00</b>
                  <span>30 min session</span>
                </div>
                <div class="price__col">
                  <b class="price__unit price__unit-purple">$100.00</b>
                  <span>1 hour session</span>
                </div>
              </div>
              <a href="" class="btn-secondary">
                <svg width="208" height="58">
                  <defs>
                    <linearGradient id="btnPurple">
                      <stop offset="0%" stop-color="#be4076"></stop>
                      <stop offset="100%" stop-color="#be4076"></stop>
                    </linearGradient>
                  </defs>
                  <rect x="2" y="2" fill="none" stroke="url(#btnPurple)" width="204" height="54" rx="5"></rect>
                </svg>
                <span>BOOK NOW</span>
              </a>
            </div>
          </div>
          <img src="img/content/coaching/susane.png" alt="">
        </div>
      </section>
      <!-- END  coaching-->

      {% include "partials/footer.html" %}

    </div>

  </div>

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->



  {% include "partials/page-end.html"%}