{% include "partials/head.html" %}

<body class="main-page">
  <!-- BEGIN  preloader-->
  {% include "partials/preloader.html" %}
  <!-- END  preloader-->

  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->
  <div class="out" id="out">



    <main id="viewBox">



      {% include "partials/header.html" %} {% include "partials/advantages.html" %} {% include "partials/entry.html" %}
      {% include
      "partials/intro.html"%} {% include "partials/footer.html" %}

    </main>


  </div>


  <!-- END  out-->
  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->



  {% include "partials/page-end.html"%}