{% include "partials/head.html" %}

<body>


  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->

  <div id="out">
    <main id="viewBox">
      <!-- BEGIN  story-->
      <div class="story">
        <svg class="story__layer" width="2048px" height="1095px" viewBox="0 0 2048 1095" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMax slice">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="-">
              <g id="story">
                <path d="M542,1093 L542.001293,0.0807637832 C541.23075,0.29183318 885.030523,-0.179691501 885.148969,0.0807637832 C889.670352,10.0229913 924.406521,61.8617901 952.125235,143.722259 C988.734972,251.840201 1022.27519,412.535366 1044.4357,526.172622 C1053.33838,571.824812 1086.26793,665.077308 1105.1386,713.960593 C1125.77575,767.41984 1150.49323,811.538384 1177.23928,854.183314 C1218.47725,919.934693 1268.55135,985.529518 1335.95149,1029.29294 C1360.83251,1045.44838 1402.72558,1063.35896 1453.70815,1074.72036 C1473.78779,1079.19509 1508.21841,1085.2883 1557,1093 L542,1093 Z"
                  id="Path" fill="#F63857" fill-rule="nonzero"></path>
                <path d="M0,1015.08525 C409.6,888.021246 769.514793,877.783862 1145.18343,1001.23467 C1563.26627,1138.53606 1865.01302,1079.52055 1865.01302,1079.52055 L2048,1027.12923 L2048,1095 L0,1095 L0,1015.08525 Z"
                  id="Shape" fill="#FFFFFF"></path>
              </g>
            </g>
          </g>
        </svg>
        <div class="story__pic">
          <svg class="story__top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1200 93.62" preserveAspectRatio="xMidYMid slice">
            <path id="Shape_2_copy_4" data-name="Shape 2 copy 4" d="M-0.054,3661.82c249.282,24.49,461.127-13.63,603.959-31.18,149.46-18.36,304.177-30.09,572.245,71.98,8.17,3.11,16.1,6.51,23.85,9.38H0Z"
              fill="white" transform="translate(0 -3618.38)" />
          </svg>
          <img src="img/content/success/1.jpg" alt="">
          <svg class="story__bottom" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 1200 76.38">
            <path id="Shape_2_copy_5" data-name="Shape 2 copy 5" d="M-0.123,5560.98c92.838-25.4,319.386-76.3,547.123-42.98,198.846,29.09,428.209,49.18,653.1-33.4H0Z"
              transform="translate(0 -5484.59)" fill="#f63857" />
          </svg>
        </div>
        <div class="story__in inner">
          <div class="story__promo">
            <h3>
              <b>hannah’s</b>
              STORY
            </h3>
            <strong>
              Anxiety Won’t Be Ruling My Life Anymore
            </strong>
          </div>

        </div>
      </div>
      <!-- END  story-->
      <!-- BEGIN  hero-->
      <section class="hero" data-trigger="true">
        <div class="hero__in inner">
          <p class="hero__text">
            Not many people would know or realise this about me, as everyone always says I’m so chatty and
            <b>confident</b> but I’ve suffered from anxiety for years.
          </p>
          <p class="hero__text">
            I’ve always been “a worrier” and most of the time I’ve found ways to manage it or hold it back for a few
            months. Unfortunately
            in this past year it has come back with a vengeance.
          </p>
          <h3 class="hero__title">
            I’ve spent whole nights wide awake having almost
            <span>constant panic attacks, shaking and crying.</span>
          </h3>
          <p class="hero__text">
            I don’t know why and I’ve spent hours and hours trying to work out why. I developed a horrendous fear of
            being left
            <b>on my own</b> at nighttime with my baby daughter. My husband works shifts and is often not home at
            night. It
            has been totally crippling and at times I’ve been terrified of my own mind. I’ve spent whole nights
            <b>wide awake</b> having almost constant panic attacks, shaking and crying. I felt sick to my stomach, I
            felt so
            terrified and anxious that I couldn’t even lie down in bed and close my eyes.
          </p>
          <p class="hero__text">
            I’ve put myself and my family to hell and back. My husband and my parents have been so worried about me,
            and despite their
            <b>unconditional support</b> I just couldn’t seem to pull myself out of it. I felt like I was letting
            everyone down.
            I went to see my doctor who prescribed me some tablets to take when I needed something to help me calm
            down.
            I felt totally disheartened that it had come to this. I don’t judge anyone who takes medication to help
            their
            mental health issues but I personally did not want to take this route when
            <b>I knew all my anxiety was created by my own mind.</b>
          </p>
          <p class="hero__text">
            One day I was desperately searching amazon and buying any anxiety book I thought might help when I came
            across Barry’s
            <span>DARE book</span>. I’ve spent years trying to relax, and breathe, and imagine myself lying on a beach,
            thinking
            of puppies, listening to relaxation music, absolutely anything to try and forget my anxiety and stay calm
            so
            this
            <span>DARE approach</span> was a totally new concept for me and actually at first it didn’t click.
          </p>
          <div class="hero__video">
            <iframe src="https://www.youtube.com/embed/qqflFMhkqHM?autoplay=0&showinfo=0&controls=0" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>

            <svg class="hero__shape" viewBox="0 0 358 35" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
              <path d="M358 17.79C286.428-4.558 223.549-6.306 157.778 15.386 84.802 39.45 31.973 29.145 31.973 29.145L0 19.95V34.97h358V17.79z"
                fill="#FFF" fill-rule="nonzero" />
            </svg>
          </div>
          <p class="hero__text">
            I laughed when I read about the idea of running towards my anxiety but at the same time the technique
            intrigued me and I
            was inspired by the fact that Barry himself had suffered from anxiety. Turns out that the step I thought
            was
            the silliest turned out to be the one that worked for me.
            <b>I stuck with it;</b> reading, practicing (especially when I wasn’t feeling anxious) and suddenly
            something clicked.
            <b>I’m no longer scared of anxiety,</b> I don’t fear it, I’m not running away, in fact I’m running towards
            it and
            embracing it.
          </p>
          <p class="hero__text">
            It sounds crazy but it really works! I feel free from the pressure of trying to imagine that I’m not
            experiencing anxiety.
            If it’s there, it’s there and
            <b>I’M NOT SCARED!</b> I say bring it on!!
          </p>
          <p class="hero__text">
            I wouldn’t say I’m anxiety free and I wouldn’t say I’m completely recovered but I’ve taken a
            <b>MASSIVE</b> step in the right direction. It doesn’t come easy and it takes hard work but suffering from
            anxiety
            is hard work anyway! You just have to decide which hard to choose!
          </p>
          <p class="hero__text">
            I have now realised that most of my anxiety came simply from fearing a panic attack. Fearing those horrible
            physical feelings.
            Barry’s
            <stroke>Ride the Wave</stroke> audio has really helped me to get my head around this and I love challenging
            my anxiety
            to do its worst in 21 seconds. It never accepts the challenge!
          </p>
          <h3 class="hero__title hero__title-m100">
            I can
            <span>confidently</span> say that anxiety won’t be ruling my life anymore.
          </h3>
          <p class="hero__text">
            I can confidently say that anxiety won’t be ruling my life anymore. I have recently been back to see my
            doctor and I took
            the DARE book with me to show him. He was genuinely interested and made a note of the title. He said he
            will
            definitely be ‘prescribing’ it to his other patients. I hope that he does because everyone should be free
            of
            this!
          </p>
          <p class="hero__text">
            <b>I will keep practicing and doing my steps</b> so that I can have a complete recovery soon.
          </p>
          <p class="hero__text">
            Hope you will too!
          </p>
          <p class="hero__text">
            Here is a picture of my beautiful daughter enjoying life because I can now Dare my way to wonderful places.
          </p>
          <p class="hero__text">
            <b>
              Hannah.
            </b>
          </p>
        </div>
      </section>
      <!-- END  hero-->
      <!-- BEGIN  comments-->
      <section class="comments">
        <svg class="comments__top" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 1200 93.62" preserveAspectRatio="xMidYMid slice">
          <defs>
            <linearGradient id="comments-top" x1="599.969" y1="3712" x2="599.969" y2="3618.38" gradientUnits="userSpaceOnUse">
              <stop offset="1" stop-color="#da3b4f" />
            </linearGradient>
          </defs>
          <path id="Shape_2_copy_4" data-name="Shape 2 copy 4" d="M-0.054,3661.82c249.282,24.49,461.127-13.63,603.959-31.18,149.46-18.36,304.177-30.09,572.245,71.98,8.17,3.11,16.1,6.51,23.85,9.38H0Z"
            fill="url(#comments-top)" transform="translate(0 -3618.38)" />
        </svg>
        <svg class="comments__bottom" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" viewBox="0 0 1200 76.38">
          <defs>
            <linearGradient id="commentsBottom" x1="599.982" y1="5560.97" x2="599.982" y2="5484.59" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#6f1f51" />
              <stop offset="1" stop-color="#712051" />
            </linearGradient>
          </defs>
          <path data-name="Shape 2 copy 5" d="M-.123 5560.98c92.838-25.4 319.386-76.3 547.123-42.98 198.846 29.09 428.209 49.18 653.1-33.4H0z"
            transform="translate(0 -5484.59)" fill="url(#commentsBottom)" />
        </svg>
        <div class="comments__in inner">
          <div class="comments__title">
            <h3>
              Comments
              <span>(5)</span>
            </h3>
          </div>
          <ul class="comments__list">
            <li class="comment">
              <div class="comment__content">
                <h4 class="comment__title">
                  <b>Annie</b> says:
                </h4>
                <div class="comment__desc">
                  I went through similar experience, and yes his book helped me so much.
                </div>
                <div class="comment__post">
                  Posted on February 9, 2018 at 5:03 pm
                </div>
              </div>
            </li>
            <li class="comment">
              <div class="comment__content">
                <h4 class="comment__title">
                  <b>Alberta</b> says:
                </h4>
                <div class="comment__desc">
                  That’s nice but we are far from you do we are not enjoying this privilege. Am also suffering from
                  anxiety which I got it
                  from my panic attack but I don’t see any doctor and I have stopped taking drugs but I still want to
                  over
                  come it
                </div>
                <div class="comment__post">
                  Posted on February 9, 2018 at 9:17 pm
                </div>
              </div>
            </li>
            <li class="comment">
              <div class="comment__content">
                <h4 class="comment__title">
                  <b>Claire Page</b> says:
                </h4>
                <div class="comment__desc">
                  WOW amazing hero. Thank you very much for sharing. You are an inspiration, well done!!!!
                </div>
                <div class="comment__post">
                  Posted on February 10, 2018 at 12:47 pm
                </div>
              </div>
            </li>
            <li class="comment">
              <div class="comment__content">
                <h4 class="comment__title">
                  <b>Steven Reissner</b> says:
                </h4>
                <div class="comment__desc">
                  Thank you for sharing your wonderful hero Hannah
                </div>
                <div class="comment__post">
                  Posted on February 12, 2018 at 12:17 pm
                </div>
              </div>
            </li>
            <li class="comment">
              <div class="comment__content">
                <h4 class="comment__title">
                  <b>Angela Thapa</b> says:
                </h4>
                <div class="comment__desc">
                  I do have anxiety since I was 10 years, I feel always scared of dark, staying alone, suffering almost
                  20 years I was totally
                  dishearten, I always pray to god “oh god please help me out of this feelings” really if you pray from
                  your
                  heart you will find the solution so I found the video of Barry who is also suffering from anxiety and
                  the
                  symtoms is same as I have , I saw in one video that Barry advice when the panic attack comes to you
                  just
                  accept and embrace it, really it works now I’m recovering day by day, I would like to thank you my
                  god
                  who always guiding me and my second god is Barry, who save my life… Mr Barry god gives more blessing,
                  wealth
                  and prosperity… Thank you everyone who is sharing such an inspiration video and hero.
                </div>
                <div class="comment__post">
                  Posted on March 5, 2018 at 2:16 pm
                </div>
              </div>
            </li>
          </ul>
          <div class="comments__title">
            <h3>
              Leave a comment
            </h3>
            <p>
              (Your email address will not be published)
            </p>
          </div>
          <form class="comments__form">
            <div class="form__group form__group-flex">
              <div class="form__field-6">
                <label class="form__label" for="name">
                  NAME*
                </label>
                <input type="email" id="name" class="form__input form__input-wh">
              </div>
              <div class="form__field-6">
                <label class="form__label" for="email3">
                  EMAIL*
                </label>
                <input type="email" id="email3" class="form__input form__input-wh">
              </div>
            </div>
            <div class="form__group form__group-comment">
              <div class="form__field">
                <label class="form__label" for="textarea">
                  COMMENT
                </label>
                <textarea class="form__textarea" name="textarea" id="textarea" placeholder="Type in you comment here"></textarea>
              </div>

              <div class="reg">
                <input name="agreement" type="checkbox" class="reg-field" id="commentRemember">
                <label for="commentRemember" class="reg-check reg-check__white">
                  <span class="reg-link">
                    <b>Save details</b> in this browser for the next time I comment.
                  </span>
                </label>
              </div>
            </div>
            <div class="form__btn">
              <button type="submit" id="btn-post" class="btn-secondary btn-secondary__white">
                <svg width="208" height="58">
                  <defs>
                    <linearGradient id="gradWh">
                      <stop offset="0%" stop-color="#fff"></stop>
                      <stop offset="100%" stop-color="#fff"></stop>
                    </linearGradient>
                  </defs>
                  <rect x="2" y="2" fill="none" stroke="url(#gradWh)" width="204" height="54" rx="5"></rect>
                </svg>
                <span>post comment</span>
              </button>
            </div>
          </form>
        </div>
      </section>
      <!-- END  comments-->
      <!-- BEGIN  recent-->
      <section class="recent" data-trigger="true">
        <div class="recent__in inner">
          <h3 class="recent__title">Other recent stories</h3>
          <ul class="recent__list">
            <li class="recent__list-item">
              <h4 class="recent__list-title">
                <b>Cathrine’s</b> hero
              </h4>
              <div class="recent__list-message">
                I’m living the dream
              </div>
              <div class="recent__list-info">
                <a class="recent__list-link" href="#">6</a>
              </div>
            </li>
            <li class="recent__list-item">
              <h4 class="recent__list-title">
                <b>daniel’s</b> hero
              </h4>
              <div class="recent__list-message">
                I swore to myself I would never fly again
              </div>
              <div class="recent__list-info">
                <a class="recent__list-link" href="#">8</a>
              </div>
            </li>
            <li class="recent__list-item">
              <h4 class="recent__list-title">
                <b>robert’s</b> hero
              </h4>
              <div class="recent__list-message">
                I became a DARE machine
              </div>
              <div class="recent__list-info">
                <a class="recent__list-link" href="#">10</a>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- END  recent-->
    </main>
    <!-- BEGIN  footer-->
    {% include "partials/footer.html" %}
    <!-- END  footer-->
  </div>

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->



  {% include "partials/page-end.html"%}