{% include "partials/head.html" %}

<body>


  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->

  <div id="out">
    <main id="viewBox">
      <!-- BEGIN  success-->
      <section class="success">
        <div class="success__layer">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 461.9" preserveAspectRatio="xMidYMax slice">
            <defs>
              <linearGradient id="a" x1="587.7" y1="461.9" x2="611.9" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#f6435a" />
                <stop offset="1" stop-color="#f52848" />
              </linearGradient>
            </defs>
            <path data-name="Shape 1 copy 9" d="M1200 108a815.7 815.7 0 0 0-126.1 176.7C989.7 444 799.7 506 509.2 429 312 376.7 152.4 372.3-.5 434.4V0H1200z"
              style="fill-rule:evenodd;fill:url(#a)" />
          </svg>
        </div>



        <div class="success__in inner" data-trigger="true">

          <ul class="success__list">
            <li class="success__item">
              <div class="success__promo">
                <h2>
                  You are
                  <br> not alone
                </h2>
                <p>
                  <b>
                    Get inspired
                  </b>
                  by the stories from DARE group members.
                </p>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/3.jpg" alt="">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 46.5">
                  <path data-name="1 copy" d="M0 2.5s40.6-9.3 93.8 8 110.7 33.2 244.2 36H0v-44z" style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    robert's
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  I became a DARE machine
                </h4>
                <p class="success__text">
                  Our Dare community is filled with positive stories like these. If you have not done so yet, don’t
                  hesitate to join! It’s
                  a wonderful place where like-minded.. people who suffer
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    8
                  </a>
                </div>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/6.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 33">
                  <path data-name="3 copy" d="M0 16.8C67.6-4.3 127-6 189 14.5c69 22.8 118.8 13 118.8 13l30.2-8.7V33H0V16.8z"
                    style="fill:#fff;fill-rule:evenodd" />
                </svg>
              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    Tessa’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  The anxious adventurer
                </h4>
                <p class="success__text">
                  Hello, my name is Tessa Sayers. I am 35, mom to two adorable Havanese dogs and recently married to my
                  husband Jeremy. I am
                  founder, owner and... designer at my
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    0
                  </a>
                </div>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/9.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 57">
                  <path data-name="1" d="M0 0s40.6 3.6 93.8 21S204.5 54.2 338 57H0V0z" style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    Yesenia’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  It started when I got pregnant
                </h4>
                <p class="success__text">
                  i have suffered from anxiety since the birth of my son (who is now nearly 9). I did the usual of
                  trying to self-medicate
                  by reading online forums on different...
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    2
                  </a>
                </div>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/1.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 57">
                  <path data-name="1" d="M0 0s40.6 3.6 93.8 21S204.5 54.2 338 57H0V0z" style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    cathrine's
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  I'm Living The Dream
                </h4>
                <p class="success__text">
                  Hey everyone! I initially thought I’d wait until I would write my success story before posting this
                  but I’m having a moment
                  right now and I need...
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    8
                  </a>
                </div>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/4.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 33">
                  <path data-name="3" d="M338 16.8C270.4-4.4 211-6 149 14.4c-69 22.7-118.8 13-118.8 13L0 18.8V33h338V16.7z"
                    style="fill:#fff;fill-rule:evenodd" />
                </svg>


              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    Kaitlin’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  What’s really helped me on this journey is not having any excuses
                </h4>
                <p class="success__text">
                  In February, my second month using DARE I scheduled a 4-day 3-night trip away to Savannah Georgia. I
                  was so nervous and prayed
                  I’d feel better... enjoy
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    7
                  </a>
                </div>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/7.jpg" alt="">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 46.5">
                  <path data-name="1 copy" d="M0 2.5s40.6-9.3 93.8 8 110.7 33.2 244.2 36H0v-44z" style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    Amy’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  It started at a luncheon
                </h4>
                <p class="success__text">
                  It started in the spring of 2013. I was at an informal luncheon at work and I tried to swallow my
                  food and felt like I was
                  choking...
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    7
                  </a>
                </div>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/10.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 33">
                  <path data-name="3 copy" d="M0 16.8C67.6-4.3 127-6 189 14.5c69 22.8 118.8 13 118.8 13l30.2-8.7V33H0V16.8z"
                    style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    Jean’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  My own kind of courage
                </h4>
                <p class="success__text">
                  I am 32 years old and come from Slovakia, the heart of Europe. The first time I encountered panic
                  attacks and anxiety disorder
                  was in my early 20s... Back then I had only one symptom – dizziness.
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    12
                  </a>
                </div>
              </div>
            </li>
            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/2.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 33">
                  <path data-name="3 copy" d="M0 16.8C67.6-4.3 127-6 189 14.5c69 22.8 118.8 13 118.8 13l30.2-8.7V33H0V16.8z"
                    style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    daniel’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  I swore to myself I would never fly again
                </h4>
                <p class="success__text">
                  Pre Honeymoon Ten years ago, almost exactly, was the last time I was on an airplane. At that time I
                  had had a few panic attacks,
                  but mostly in passing...
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    12
                  </a>
                </div>
              </div>
            </li>


            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/5.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 57">
                  <path data-name="1" d="M0 0s40.6 3.6 93.8 21S204.5 54.2 338 57H0V0z" style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    Hannah’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  Anxiety won’t be ruling my life anymore
                </h4>
                <p class="success__text">
                  Not many people would know or realise this about me, as everyone always says I’m so chatty and
                  confident but I’ve suffered
                  from anxiety for years...
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    9
                  </a>
                </div>
              </div>
            </li>




            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/8.jpg" alt="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 33">
                  <path data-name="3" d="M338 16.8C270.4-4.4 211-6 149 14.4c-69 22.7-118.8 13-118.8 13L0 18.8V33h338V16.7z"
                    style="fill:#fff;fill-rule:evenodd" />
                </svg>


              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    jeff’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  I am getting better every day!
                </h4>
                <p class="success__text">
                  Hi, my name is Jeff and I would like to tell you about my anxiety experience. My path to recovery and
                  where I am now. At
                  this point, I would...
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    9
                  </a>
                </div>
              </div>
            </li>



            <li class="success__item">
              <div class="success__pic">
                <img src="img/content/success/11.jpg" alt="">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 338 46.5">
                  <path data-name="1 copy" d="M0 2.5s40.6-9.3 93.8 8 110.7 33.2 244.2 36H0v-44z" style="fill:#fff;fill-rule:evenodd" />
                </svg>

              </div>
              <div class="success__content">
                <h3 class="success__title">
                  <b>
                    Cathrine’s
                  </b>
                  story
                </h3>
                <h4 class="success__subtitle">
                  I was a complete textbook case of anxiety!
                </h4>
                <p class="success__text">
                  I wanted to share my story just as others bravely have to reinforce the astounding impact DARE
                  can/will have in your life,
                  as it has in mine. My anxiety firs...
                </p>
                <div class="success__info">
                  <a href="#" class="success__link">
                    8
                  </a>
                </div>
              </div>
            </li>


          </ul>
        </div>
        <!-- BEGIN  entry-->
        <div class="entry entry__success section" id="entry">
          <div class="entry__tool">

          </div>
          <svg class="entry__top" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 1200 88.1" style="enable-background:new 0 0 1200 88.1;" xml:space="preserve"
            fill="#f4435a">

            <path id="Shape_1_copy_8_1_" class="st11" d="M1200,88.1C1105.6,81,979.3,65.4,831,31C615.4-19.1,299.3-11.1,0,75.1v13H1200z" />
          </svg>

          <div class="entry__in inner" id="screen2">
            <div class="entry__footer">
              <a href="" class="btn-primary">
                <svg width="250" height="58">
                  <defs>
                    <linearGradient id="grad1">
                      <stop offset="0%" stop-color="white"></stop>
                      <stop offset="100%" stop-color="white"></stop>
                    </linearGradient>
                  </defs>
                  <rect x="2" y="2" rx="6" fill="none" stroke="url(#grad1)" width="247" height="54"></rect>
                </svg>
                <span>load more stories</span>
              </a>
            </div>
          </div>
        </div>
        <!-- END  entry-->
      </section>

      <!-- BEGIN  success-->



      <div class="numbers numbers__success" data-trigger="true">
        <div class="numbers__in inner flex">
          <div class="numbers__top">
            <img src="img/content/numbers.png" alt="">



          </div>
          <div class="numbers__footer">
            <p>
              people have turned to
              <span>DARE</span> to break free from anxiety
            </p>
            <div class="numbers__btn">
              <a href="" class="btn-primary btn-primary__red">
                <svg width="250" height="58">
                  <rect x="2" y="2" rx="6" fill="none" width="247" height="54"></rect>
                </svg>
                <span>join dare community</span>
              </a>
            </div>
          </div>
        </div>
      </div>




    </main>
    <!-- BEGIN  footer-->
    {% include "partials/footer.html" %}
    <!-- END  footer-->
  </div>

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->



  {% include "partials/page-end.html"%}