{% include "partials/head.html" %}

<body>

  <div class="container">
    <!-- BEGIN sticky-->
    {% include "partials/sticky.html" %}
    <!-- END sticky-->
  </div>
  <!-- BEGIN out-->
  <div id="out">
    <main id="viewBox">
      <!-- BEGIN team-->
      <section class="team" id="team">
        <div class="team__layer layer-logo"></div>
        <!-- <svg class="team__layer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 633 258" preserveAspectRatio="xMidYMin slice">
          <path data-name="Shape 1 copy 6" d="M0 258c28.3-12.6 59-32.7 90.2-63.5C184.2 101.8 386 46.9 515.4 96c0 0 55 17.2 95.2-55C617.8 28.3 625.3 14.4 633 0H0z"
            style="fill-rule:evenodd;fill:#f64058" />
        </svg> -->


        <svg class="team__shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1199.9 290.3">
          <path data-name="Shape 1 copy 7" d="M1199.9 0a518.3 518.3 0 0 1-131.7 58.6C952.4 91.8 855 140.9 832 154.6S513.3 345.8 164.7 269.2C97.4 254.3 43.5 243 0 234.8v55.4h1200z"
            style="fill:#fff;fill-rule:evenodd" />
        </svg>

        <div class="team__in inner">
          <h1 class="team__title">
            DARE Team
          </h1>
          <div class="team__scroll">
            <span class="scroll-to scroll-to__red">scroll</span>
          </div>
        </div>
      </section>
      <!-- END team-->


      <!-- BEGIN team-members-->
      <section class="team-members" data-trigger="true">
        <div class="team-members__promo inner">
          <div class="team-members__col">
            <h2 class="title-bold">
              We're here to help you
              <span>change your life</span>
            </h2>
          </div>
          <div class="team-members__col">
            <p>
              We understand anxiety. We've experienced it.
              <b>And we've learnt how to beat it.</b> We care about helping people apply the DARE approach to regain
              control
              over their own wellbeing.
            </p>
          </div>
        </div>
        <div class="team-members__in inner">
          <div class="team-members__pic">
            <img src="img/content/team/barry.png" alt="" class="team-members__img team-members__barry">
          </div>
          <div class="team-members__content">
            <div class="team-members__header">

              <h3 class="team-members__achievement team-members__achievement--red">
                <span>
                  Author of Dare
                </span>
                & FOUNDER
              </h3>
              <h4 class="team-members__name">
                <b>Barry</b> McDonagh
              </h4>
            </div>
            <div class="team-members__body">
              <p>
                Barry McDonagh (BA, Dip Psych ) is the author of the best selling book "Dare, The New Way to Break Free
                from Anxiety and
                Panic Attacks" and is the creator of the best selling anxiety treatment program Panic Away. The program
                has
                been purchased by more than
                <b>80,000 people worldwide</b> and has been featured on TV and radio across America.
              </p>
              <p>
                Over 15 years ago Barry started teaching people a breakthrough approach for ending panic attacks and is
                now one of the most
                sought after anxiety coaches online.
              </p>
            </div>
            <div class="team-members__footer">
              <h5>media links:</h5>
              <a href="" class="btn-more">barry’s vice interview</a>
              <a href="" class="btn-more">barry on morning tv</a>
            </div>
          </div>
        </div>
      </section>
      <!-- END team-members-->


      <!-- BEGIN TEAM-members -->
      <section class="team-members team-members__bgRed">
        <svg class="team-members__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 211.7">
          <path d="M0 1154.3c251 203.5 855.4 129.6 1200 210v1.7H0z" transform="translate(0 -1154.3)" style="fill-rule:evenodd;fill:#ec5068"></path>
        </svg>
        <svg class="team-members__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 98.5">
          <path d="M0 2242.4c181.1 54.6 379.8 76.4 610 9.6a1110.2 1110.2 0 0 1 590-11.2V2195H0z" transform="translate(0 -2195)"
            style="fill-rule:evenodd;fill:white"></path>
        </svg>
        <div class="team-members__in inner">
          <div class="team-members__pic">
            <img src="img/content/team/michelle.png" alt="" class="team-members__img team-members__michelle">
          </div>
          <div class="team-members__content">
            <div class="team-members__header">
              <h3 class="team-members__achievement">
                <span>
                  Licensed
                </span>
                Clinical Therapist & Coach
              </h3>
              <h4 class="team-members__name">
                <b>Michelle </b>Cavanaugh
              </h4>
            </div>
            <div class="team-members__body">
              <p>
                Michelle is a licensed clinical therapist with years of experience helping people break free from
                anxiety and has significant
                training in various areas, including Motivational therapy, and Applied Behavioral Analysis (ABA).

              </p>
              <p>
                Michelle's approach is strengths-based and motivational using Cognitive Behavioral Therapy (CBT)
                techniques and specializes
                in anxiety disorders.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- END TEAM-members -->


      <!-- BEGIN TEAM-members -->
      <section class="team-members" data-trigger="true">

        <div class="team-members__in inner">

          <div class="team-members__pic">
            <img src="img/content/team/suzane.png" alt="" class="team-members__img team-members__suzanne">
          </div>
          <div class="team-members__content">
            <div class="team-members__header">
              <h3 class="team-members__achievement team-members__achievement--coaching">
                <span>
                  life & anxiety
                </span>
                coach
              </h3>
              <h4 class="team-members__name">
                <b>Suzane </b>Brikassa
              </h4>
            </div>
            <div class="team-members__body">
              <p>
                Suzane Brikassa is a life and anxiety coach, who with the help of Barry McDonagh's program has made it
                her mission and passion
                to help people from all walks of life, to achieve a more peaceful anxiety free state.
              </p>
              <p>
                Now recovered for over 6 years, with the help of this program and her constant motivational tools, she
                is able to teach many
                to do the exact same.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- END TEAM-members -->

      <!-- BEGIN TEAM-members -->
      <section class="team-members team-members__bgPurple">
        <svg class="team-members__top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 211.7">
          <path d="M0 1154.3c251 203.5 855.4 129.6 1200 210v1.7H0z" transform="translate(0 -1154.3)" style="fill-rule:evenodd;fill:#bb4077"></path>
        </svg>
        <svg class="team-members__bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 98.5">
          <path d="M0 2242.4c181.1 54.6 379.8 76.4 610 9.6a1110.2 1110.2 0 0 1 590-11.2V2195H0z" transform="translate(0 -2195)"
            style="fill-rule:evenodd;fill:white;"></path>

        </svg>



        <div class="team-members__in inner">
          <div class="team-members__pic">
            <img src="img/content/team/john.png" alt="" class="team-members__img team-members__john">
          </div>
          <div class="team-members__content">
            <div class="team-members__header">
              <h3 class="team-members__achievement">
                <span>
                  IT & TechnicaL
                </span>
                Support
              </h3>
              <h4 class="team-members__name">
                <b>John </b>Pasinabo
              </h4>
            </div>
            <div class="team-members__body">
              <p>
                John Pasinabo has been DARE's head of customer support for 5 years and keep things running smooth in
                the background. John
                a strong team player with a focus on delivering a first class customer service to our customers. Is
                open-minded,
                innovative and ambitious.
              </p>
              <p>
                He is passionate about putting our customers first and tries to solve all queries in a timely manner.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- END TEAM-members -->

      <!-- BEGIN TEAM-members -->
      <section class="team-members" data-trigger="true">
        <div class="team-members__in inner">
          <div class="team-members__pic">
            <img src="img/content/team/john_quirke.png" alt="" class="team-members__img team-members__quirke">
          </div>
          <div class="team-members__content">
            <div class="team-members__header">
              <h3 class="team-members__achievement team-members__achievement--purple">
                <span>
                  Head of Customer
                </span>
                Support
              </h3>
              <h4 class="team-members__name">
                <b>John </b>Quirke
              </h4>
            </div>
            <div class="team-members__body">
              <p>
                John Quirke responsible for the daily operation of the company, manages projects programming and the
                scheduling process for
                a portfolio of websites, apps and development projects across the full project life-cycle.
              </p>
              <p>
                John researches the analysis of future operations and the smooth running of current operations, with
                the objective of improved
                productivity and discovering new approaches.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- END TEAM-members -->



    </main>
    <!-- BEGIN footer-->
    {% include "partials/footer.html" %}
    <!-- END footer-->
  </div>


  <!-- BEGIN popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END popup-login-->

  <!-- BEGIN popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END popup-login-->



  {% include "partials/page-end.html"%}