{% include "partials/head.html" %}

<body>

  <div class="container">
    <!-- BEGIN  sticky-->
    {% include "partials/sticky.html" %}
    <!-- END  sticky-->
  </div>
  <!-- BEGIN  out-->

  <div id="out">
    <main id="viewBox">
      <div class="terms__layer">

        <svg viewBox="0 0 1200 200" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice">
          <defs>
            <linearGradient x1="50%" y1="99.7107208%" x2="50%" y2="0%" id="a">
              <stop stop-color="#EE4259" offset="100%" />
            </linearGradient>
          </defs>
          <path d="M1200 141.491447c-177-51.3477027-377-60.4761831-596 11.4106-228 75.309964-424 51.347703-604-9.12848V0h1200v141.491447z"
            fill="url(#a)" fill-rule="evenodd" />
        </svg>


      </div>
      <!-- BEGIN  terms-->
      <section class="terms" data-trigger="true">
        <div class="terms__in inner">
          <div class="terms__header">
            <h2 class="terms__header-title">
              <b>Terms of use</b> &amp; service
            </h2>
            <p class="terms__header-subtitle">
              The Dare App is available in the
              <b>App Store</b> and
              <b>Google Play store</b>
            </p>
            <p class="terms__header-desc">
              IMPORTANT! THESE TERMS OF SERVICE (TOS) GOVERN YOUR USE OF THIS SITE, WHICH IS PROVIDED BY OUR COMPANY. BY ACCESSING THIS
              SITE, YOU ARE INDICATING YOUR ACKNOWLEDGMENT AND ACCEPTANCE OF THESE TERMS OF USE. THESE TERMS OF USE ARE SUBJECT
              TO CHANGE BY OUR COMPANY AT ANY TIME IN ITS DISCRETION. YOUR USE OF THIS SITE AFTER SUCH CHANGES ARE IMPLEMENTED
              CONSTITUTES YOUR ACKNOWLEDGMENT AND ACCEPTANCE OF THE CHANGES. PLEASE CONSULT THESE TERMS OF USE PRIOR TO EVERY
              USE FOR ANY CHANGES.
            </p>
          </div>
          <div class="terms__body">
            <h3 class="terms__title">
              Restrictions on use
            </h3>
            <p class="terms__text">
              You may use this site for purposes expressly permitted by this site. You may not use this site for any other purpose, including
              any commercial purpose, without our Company‘s express prior written consent. For example, you may not (and
              may not authorize any other party to)
              <b>(i) co-brand this site, or (ii) frame this site, or (iii) hyper-link to this site, without the express prior
                written permission of an authorized representative of our Company.</b>
              For purposes of these Terms of Use, “co-branding” means to display a name, logo, trademark, or other means of attribution
              or identification of any party in such a manner as is reasonably likely to give a user the impression that
              such other party has the right to display, publish, or distribute this site or content accessible within this
              site. You agree to cooperate with our Company in causing any unauthorized co-branding, framing or hyper-linking
              immediately to cease.
            </p>
            <h3 class="terms__title">
              Proprietary Information
            </h3>
            <p class="terms__text">
              The material and content (hereinafter referred to as the “Content”) accessible from this site, and any other World Wide Web
              site owned, operated, licensed, or controlled by our Company is the proprietary information of our Company
              or the party that provided the content to our Company, and our Company or the party that provided the Content
              to our Company retains all right, title, and interest in the Content. Accordingly, the
              <b>Content may not be copied, distributed, republished, uploaded, posted, or transmitted in any way without the
                prior written consent of our Company,</b> or unless authorized in writing elsewhere on our site, except that
              you may print out a copy of the Content solely for your personal use. In doing so, you may not remove or alter,
              or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary
              notice or legend appearing on any of the Content. Modification or use of the Content except as expressly provided
              in these Terms of Use violates our Company‘s intellectual property rights. Neither title nor intellectual property
              rights are transferred to you by access to this site.
            </p>
            <h3 class="terms__title">
              Hyper-Links
            </h3>
            <p class="terms__text">
              This site may be hyper-linked to other sites which are not maintained by, or related to, our Company. Hyper-links to such
              sites are provided as a service to users and are not sponsored by or affiliated with this site or our Company.
              Our Company has not reviewed any or all of such sites and is not responsible for the content of those sites.
              Hyper-links are to be accessed at the user’s own risk, and our Company makes no representations or warranties
              about the content, completeness or accuracy of these hyper-links or the sites hyper-linked to this site. Further,
              the inclusion of any hyper-link to a third-party site does not necessarily imply endorsement by our Company
              of that site.
            </p>
            <h3 class="terms__title">
              Information You Provide
            </h3>
            <div class="terms__text">
              You may not post, send, submit, publish, or transmit in connection with this site any material that:
            </div>
            <ul class="terms__list">
              <li class="terms__item">
                <b>
                  you do not have the right to post, including proprietary material of any third party;
                </b>
              </li>
              <li class="terms__item">
                <b>
                  advocates illegal activity or discusses an intent to commit an illegal act;
                </b>
              </li>
              <li class="terms__item">
                <b>
                  is vulgar, obscene, pornographic, or indecent;
                </b>
              </li>
              <li class="terms__item">
                <b>
                  does not pertain directly to this site;
                </b>
              </li>
              <li class="terms__item">
                <b>
                  threatens or abuses others, libels, defames, invades privacy, stalks, is obscene, pornographic,
                  <br> racist, abusive, harassing, threatening or offensive;
                </b>
              </li>
              <li class="terms__item">
                <b>
                  seeks to exploit or harm children by exposing them to inappropriate content, asking for
                  <br> personally identifiable details or otherwise;
                </b>
              </li>
              <li class="terms__item">
                <b>
                  infringes any intellectual property or other right of any entity or person, including violating anyone’s copyrights or trademarks
                  or their rights of publicity;
                </b>
              </li>
            </ul>
            <h3 class="terms__title">
              Miscellaneous
            </h3>
            <p class="terms__text">
              These Terms of Use will be governed and interpreted pursuant to the laws of Ireland notwithstanding any principles of conflicts
              of law. You specifically consent to personal jurisdiction in Ireland in connection with any dispute between
              you and Company arising out of these Terms of Use or pertaining to the subject matter hereof. The parties to
              these Terms of Use each agree that the exclusive venue for any dispute between the parties arising out of these
              Terms of Use or pertaining to the subject matter of these Terms of Use will be in the courts in Dublin, Ireland.
              If any part of these Terms of Use is unlawful, void or unenforceable, that part will be deemed severable and
              will not affect the validity and enforceability of any remaining provisions. These Terms of Use constitute
              the entire agreement among the parties relating to this subject matter. Notwithstanding the foregoing, any
              additional terms and conditions on this site will govern the items to which they pertain. Company may revise
              these Terms of Use at any time by updating this posting.
            </p>
          </div>
          <div class="terms__footer">
            <div class="terms__footer-up">
              <b>Last updated: August 11, 2009</b>
            </div>
            <p class="terms__footer-copy">Copyright © 2003-2009 InternetMarketingLawProducts.com for BMD Publishing LTD (Reg. No 451616)</p>
          </div>

        </div>
      </section>
      <!-- END  terms-->
      <!-- <div class="support">
        <span class="support__text">
          support
        </span>
      </div> -->

    </main>
    <!-- BEGIN  footer-->
    {% include "partials/footer.html" %}
    <!-- END  footer-->
  </div>

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-login.html"%}
  <!-- END  popup-login-->

  <!-- BEGIN  popup-login-->
  {% include "partials/popups/popup-menu.html"%}
  <!-- END  popup-login-->



  {% include "partials/page-end.html"%}