<div class="wrapper" data-trigger="true" id="dareToolkit">
  <div class="screen" id="screen1">
    <div class="screen__info">
      set yourself free
    </div>
    <div class="screen__title">
      <h1>
        the
        <span>
          dare
        </span> toolkit
      </h1>
    </div>
    <div class="screen__subtitle">
      <p>
        DARE has developed a Toolkit based on hand science and years of experience to help you finally break from
        anxiety.
      </p>
    </div>
  </div>


  <section class="section advantages" id="advantages">

    <div class="advantages__in" id="advantages-in">

      <div class="advantages__screen" id="screen2">
        <div class="container container__1 ">
          <div class="advantages-body advantages-body_1 ">
            <div class="advantages-body_num ">
              1.
            </div>
            <div class="advantages-body_step ">
              Your
              <b>first brave</b>
              <br>
              <b>step</b>
              starts here
            </div>
            <img class="advantages__img advantages-hide" src="img/content/homepage_book.png" alt="">
            <div class="advantages-body_text ">
              The DARE book contains all the information you need to break from anxiety or panic attacks. It is priced
              as cheaply as possible
              so that no one is excluded from this community and the help they need.
            </div>
            <a href="book.html" class="btn-more ">
              More about the book
            </a>
          </div>
        </div>
        <div class="container container__2 ">
          <div class="advantages-col">
            <img class="section__img " src="img/content/homepage_book.png" alt="">
            <img class="section__img " src="img/content/homepage_phone.png " alt=" ">
          </div>
          <div class="advantages-body advantages-body_2 ">
            <div class="advantages-body_num ">
              2.
            </div>
            <div class="advantages-body_step ">
              <p>
                Once you have the book
                <br>
                <b>you can get the app</b>
              </p>
            </div>
            <div class="advantages-body_text ">
              The DARE app allows you to practice using DARE techniques you learn in the book while you are outside
              your comfort zone.
              It is a great tool to have with you anywhere you go.
            </div>
            <a href="app.html" class="btn-more ">
              More about the app
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>