<section class="freedom freedom__audio" data-trigger="true" id="freedom">
  <div class="freedom__in flex inner">
    <div class="freedom__col">
      <h2 class="freedom__title title-bold">
        <span>win back </span>
        <br> your freedom
      </h2>
      <p class="freedom__text">
        For a deeper understanding of what triggers anxiety and how to apply the DARE technique in a truly transformative way,
        <b>we encourage you to read the
          <br> DARE book. </b>
      </p>
      <a class="btn-more">MORE ABOUT THE BOOK</a>
    </div>
    <div class="freedom__book">
      <img src="img/content/homepage_book.png" alt="">
    </div>
  </div>
</section>