<!-- BEGIN  header-->
<header class="header" id="header">
    <div class="fullscreen-bg">
        <div class="mask fullscreen-bg_top"></div>
      </div>
  <div class="fullscreen">
    <div class="fullscreen-title">
      You're here because
      <br> you're ready
    </div>
    <div class="fullscreen-promo">
      <div class="fullscreen-promo_desc">
        End anxiety for good & win your life back
      </div>
      <div class="fullscreen-promo_desc">
        <b>to break free</b>
        <br> from anxiety and panic attacks
      </div>
      <div class="fullscreen-promo_desc">
        so you can get back to
        <br>
        <b>living your life to its fullest</b>
      </div>
    </div>
    <video muted class="fullscreen-video" src="vendor/dare-intro.mp4">
      <source src="vendor/dare-intro.mp4" type="video/mp4">
    </video>
  </div>
  <div class="header__in inner">
    <div class="header__scroll">
      <span class="scroll-to">KEEP SCROLLING</span>
    </div>
  </div>
</header>
<!-- END  header-->