<!-- BEGIN  intro-->
<section class="intro section" id="intro" data-trigger="true">
  <div class="intro__in inner">
    <div class="intro__screen">
      <div class="intro__title">
        you Are
        <span>not</span> alone
      </div>
      <div class="intro__subtitle">
        <p>
          There are literally millions of perfectly sane, normal people who have the exact same problem as you do.
        </p>
      </div>
    </div>
    <div class="intro__col intro__col1">

      <img class="intro__images" src="img/content/dare/d.png" alt="dare">
      <img class="intro__images" src="img/content/dare/a.png" alt="dare">
      <img class="intro__images" src="img/content/dare/r.png" alt="dare">
      <img class="intro__images" src="img/content/dare/e.png" alt="dare">
    </div>
    <div class="intro__col intro__col2">
      <div class="intro__body intro-hide">
        <div class="intro__title">
          you Are
          <span>not</span> alone
        </div>
        <div class="intro__subtitle">
          <p>
            There are literally millions of perfectly sane, normal people who have the exact same problem as you do.
          </p>
        </div>
      </div>
      <div class="slider js-slider" id="js-slider">
        <div class="slider__item">
          <div class="slider__top">
            <h3 class="slider__title">
              <b>hannah's</b> story
            </h3>
            <div class="slider__sub">
              Anxiety won't be ruling my life
            </div>
          </div>
          <div class="slider__body">
            <div class="slider__text">
              <p>
                Not many people would know or realise this about me, as everyone always says I’m so chatty and confident but I’ve suffered
                from anxiety for years.
              </p>
            </div>
            <a class="btn-more btn-purple" href="">full story</a>
          </div>
          <div class="slider__footer">
            <a href="" class="btn-secondary">
              <svg width="208" height="58">
                <defs>
                  <linearGradient id="grad2">
                    <stop offset="0%" stop-color="#346A94"></stop>
                    <stop offset="100%" stop-color="#9B4A7E"></stop>
                  </linearGradient>
                </defs>
                <rect x="2" y="2" fill="none" stroke="url(#grad2)" width="204" height="54" rx="5"></rect>
              </svg>
              <span>SEE ALL STORIES</span>
            </a>

          </div>

        </div>
        <div class="slider__item">
          <div class="slider__top">
            <h3 class="slider__title">
              <b>hannah's</b> story
            </h3>
            <div class="slider__sub">
              Anxiety won't be ruling my life
            </div>
          </div>
          <div class="slider__body">
            <div class="slider__text">
              <p>
                Not many people would know or realise this about me, as everyone always says I’m so chatty and confident but I’ve suffered
                from anxiety for years.
              </p>
            </div>
            <a class="btn-more btn-purple" href="">full story</a>
          </div>
          <div class="slider__footer">
            <a href="" class="btn-secondary">
              <svg width="208" height="58">
                <defs>
                  <linearGradient id="grad2">
                    <stop offset="0%" stop-color="#346A94"></stop>
                    <stop offset="100%" stop-color="#9B4A7E"></stop>
                  </linearGradient>
                </defs>
                <rect x="2" y="2" fill="none" stroke="url(#grad2)" width="204" height="54" rx="5"></rect>
              </svg>
              <span>SEE ALL STORIES</span>
            </a>

          </div>

        </div>
        <div class="slider__item">
          <div class="slider__top">
            <h3 class="slider__title">
              <b>hannah's</b> story
            </h3>
            <div class="slider__sub">
              Anxiety won't be ruling my life
            </div>
          </div>
          <div class="slider__body">
            <div class="slider__text">
              <p>
                Not many people would know or realise this about me, as everyone always says I’m so chatty and confident but I’ve suffered
                from anxiety for years.
              </p>
            </div>
            <a class="btn-more btn-purple" href="">full story</a>
          </div>
          <div class="slider__footer">
            <a href="" class="btn-secondary">
              <svg width="208" height="58">
                <defs>
                  <linearGradient id="grad2">
                    <stop offset="0%" stop-color="#346A94"></stop>
                    <stop offset="100%" stop-color="#9B4A7E"></stop>
                  </linearGradient>
                </defs>
                <rect x="2" y="2" fill="none" stroke="url(#grad2)" width="204" height="54" rx="5"></rect>
              </svg>
              <span>SEE ALL STORIES</span>
            </a>

          </div>

        </div>
        <div class="slider__item">
          <div class="slider__top">
            <h3 class="slider__title">
              <b>hannah's</b> story
            </h3>
            <div class="slider__sub">
              Anxiety won't be ruling my life
            </div>
          </div>
          <div class="slider__body">
            <div class="slider__text">
              <p>
                Not many people would know or realise this about me, as everyone always says I’m so chatty and confident but I’ve suffered
                from anxiety for years.
              </p>
            </div>
            <a class="btn-more btn-purple" href="">full story</a>
          </div>
          <div class="slider__footer">
            <a href="" class="btn-secondary">
              <svg width="208" height="58">
                <defs>
                  <linearGradient id="grad2">
                    <stop offset="0%" stop-color="#346A94"></stop>
                    <stop offset="100%" stop-color="#9B4A7E"></stop>
                  </linearGradient>
                </defs>
                <rect x="2" y="2" fill="none" stroke="url(#grad2)" width="204" height="54" rx="5"></rect>
              </svg>
              <span>SEE ALL STORIES</span>
            </a>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- END  intro-->