<div class="popup popup__app js-popup" id="appsl">

  <div class="popup__in">


    <div class="slider-app js-slider-app">
      <div class="slider-app__wrapper slider-app__anxiety">
        <div class="slider-app__item">
          <div class="slider-app__title">
            <h3>Anxiety</h3>
          </div>
          <div class="slider-app__pic">
            <img src="img/content/features/anxiety.png" alt="">
          </div>
          <div class="slider-app__body">
            <div class="slider-app__text">
              Learn what panic attacks are and how the fear of fear fuels the problem and delays recovery. The good
              news is that with the
              right approach you can have a full recovery from panic attacks.
            </div>
            <div class="slider-app__audio scene__audio" id="playerContainer4">
            </div>
          </div>
        </div>
      </div>
      <div class="slider-app__wrapper slider-app__panic">
        <div class="slider-app__item">
          <div class="slider-app__title">
            <h3>Panic attacs</h3>
          </div>
          <div class="slider-app__pic">
            <img src="img/content/features/panic.png" alt="">
          </div>
          <div class="slider-app__body">
            <div class="slider-app__text">
              Learn what panic attacks are and how the fear of fear fuels the problem and delays recovery. The good
              news is that with the
              right approach you can have a full recovery from panic attacks.
            </div>
            <div class="slider-app__audio scene__audio" id="playerContainer5">
            </div>
          </div>

        </div>
      </div>
      <div class="slider-app__wrapper slider-app__worry">
        <div class="slider-app__item">
          <div class="slider-app__title">
            <h3>Worry</h3>
          </div>
          <div class="slider-app__pic">
            <img src="img/content/features/worry.png" alt="">
          </div>
          <div class="slider-app__body">
            <div class="slider-app__text">
              Learn what panic attacks are and how the fear of fear fuels the problem and delays recovery. The good
              news is that with the
              right approach you can have a full recovery from panic attacks.
              Learn what panic attacks are and how the fear of fear fuels the problem and delays recovery. The good
              news is that with the
              right approach you can have a full recovery from panic attacks.
              Learn what panic attacks are and how the fear of fear fuels the problem and delays recovery. The good
              news is that with the
            </div>
            <div class="slider-app__audio scene__audio" id="playerContainer6">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="popup-wrapper">
      <div class="slider-controls">
        <h5>
          Swipe to see next feature
        </h5>

        <div class="slider-controls__in">
          <div class="js-prev-app">
            <svg class="arrows arrow-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1" id="Capa_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 268.832 268.832" style="enable-background:new 0 0 268.832 268.832;"
              xml:space="preserve">
              <g>
                <path d="M265.171,125.577l-80-80c-4.881-4.881-12.797-4.881-17.678,0c-4.882,4.882-4.882,12.796,0,17.678l58.661,58.661H12.5   c-6.903,0-12.5,5.597-12.5,12.5c0,6.902,5.597,12.5,12.5,12.5h213.654l-58.659,58.661c-4.882,4.882-4.882,12.796,0,17.678   c2.44,2.439,5.64,3.661,8.839,3.661s6.398-1.222,8.839-3.661l79.998-80C270.053,138.373,270.053,130.459,265.171,125.577z"
                  fill="#FFFFFF" />
              </g>
            </svg>
          </div>
          <div class="slider-cursor">
            <i class="icon icon-cursor"></i>
          </div>
          <div class="js-next-app">

            <svg class="arrows arrow-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              version="1.1" id="Capa_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 268.832 268.832" style="enable-background:new 0 0 268.832 268.832;"
              xml:space="preserve">
              <g>
                <path d="M265.171,125.577l-80-80c-4.881-4.881-12.797-4.881-17.678,0c-4.882,4.882-4.882,12.796,0,17.678l58.661,58.661H12.5   c-6.903,0-12.5,5.597-12.5,12.5c0,6.902,5.597,12.5,12.5,12.5h213.654l-58.659,58.661c-4.882,4.882-4.882,12.796,0,17.678   c2.44,2.439,5.64,3.661,8.839,3.661s6.398-1.222,8.839-3.661l79.998-80C270.053,138.373,270.053,130.459,265.171,125.577z"
                  fill="#FFFFFF" />
              </g>
            </svg>

          </div>
        </div>
      </div>
      <svg class="slider-close" id="appClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="18px" height="18px">
        <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"
          fill="#FFFFFF"></path>
      </svg>
    </div>
  </div>
</div>