<div class="popup popup__audio-mob js-popup" id="audioMobSl">

    <div class="popup__in">
  
  
      <div class="slider-app" id="js-slider-audio">
        <div class="slider-app__wrapper ">
          <div class="slider-app__item">
            <div class="slider-app__title">
              <h3>Deep release of 
                anxiety & tension</h3>
            </div>
            <div class="slider-app__pic">
              <img src="img/content/program/release.png" alt="">
            </div>
            <div class="slider-app__body">
              <div class="slider-app__text">
                You will learn how to quickly release deep seated anxiety and tension. 
Two of the audios in this section use binaural beat technology to help you relax to a much deeper level than you may have been able to reach previously because of your anxiety.
              </div>
            </div>
            <div class="slider-app__footer">
                <h3 class="title-bold">
                    audios in this section
                </h3>
                <div class="accordion">
                  <div class="accordion__item">
                    <div class="accordion__header js-toggle">
                      <h4 class="accordion__title">Deeper Release</h4>
                      <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                        <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                      </svg>
                    </div>
                    <div class="accordion__body">
                      <div class="accordion__pic">
                        <img src="img/content/audio/audio.jpg" alt="">
                      </div>
                      <div class="accordion__content">
                        <p>
                          This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                                beats technology playing subtly in the background to help you reach a
                                <b>very</b> deep state of calm and relaxation.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <div class="accordion__header js-toggle">
                      <h4 class="accordion__title">Deep Acceptance (Video)</h4>
                      <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                        <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                      </svg>
                    </div>
                    <div class="accordion__body">
                      <div class="accordion__pic">
                        <img src="img/content/audio/audio.jpg" alt="">
                      </div>
                      <div class="accordion__content">
                        <p>
                          This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                                beats technology playing subtly in the background to help you reach a
                                <b>very</b> deep state of calm and relaxation.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__item">
                    <div class="accordion__header js-toggle">
                      <h4 class="accordion__title">7 Minute Meditation</h4>
                      <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                        <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                      </svg>
                    </div>
                    <div class="accordion__body">
                      <div class="accordion__pic">
                        <img src="img/content/audio/audio.jpg" alt="">
                      </div>
                      <div class="accordion__content">
                        <p>
                          This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                                beats technology playing subtly in the background to help you reach a
                                <b>very</b> deep state of calm and relaxation.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
      
          </div>
        </div>
        <div class="slider-app__wrapper ">
          <div class="slider-app__item">
            <div class="slider-app__title">
              <h3>Courage</h3>
            </div>
            <div class="slider-app__pic">
              <img src="img/content/program/wave.png" alt="">
            </div>
            <div class="slider-app__body">
              <div class="slider-app__text">
                You will learn how to quickly release deep seated anxiety and tension. 
Two of the audios in this section use binaural beat technology to help you relax to a much deeper level than you may have been able to reach previously because of your anxiety.
              </div>
            </div>
            <div class="slider-app__footer">
              <h3 class="title-bold">
                  audios in this section
              </h3>
              <div class="accordion">
                <div class="accordion__item">
                  <div class="accordion__header js-toggle">
                    <h4 class="accordion__title">Ride the Wave</h4>
                    <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                      <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                    </svg>
                  </div>
                  <div class="accordion__body">
                    <div class="accordion__pic">
                      <img src="img/content/audio/audio.jpg" alt="">
                    </div>
                    <div class="accordion__content">
                      <p>
                        This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                              beats technology playing subtly in the background to help you reach a
                              <b>very</b> deep state of calm and relaxation.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div class="accordion__header js-toggle">
                    <h4 class="accordion__title">
                      Defuse Anxious/Untrysuve thoughts
                    </h4>
                    <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                      <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                    </svg>
                  </div>
                  <div class="accordion__body">
                    <div class="accordion__pic">
                      <img src="img/content/audio/audio.jpg" alt="">
                    </div>
                    <div class="accordion__content">
                      <p>
                        This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                              beats technology playing subtly in the background to help you reach a
                              <b>very</b> deep state of calm and relaxation.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
  
          </div>
        </div>
        <div class="slider-app__wrapper ">
          <div class="slider-app__item">
            <div class="slider-app__title">
              <h3>Sleep</h3>
            </div>
            <div class="slider-app__pic">
                <img src="img/content/program/sleep.png" alt="">
            </div>
            <div class="slider-app__body">
              <div class="slider-app__text">
                You will learn how to quickly release deep seated anxiety and tension. 
                Two of the audios in this section use binaural beat technology to help you relax to a much deeper level than you may have been able to reach previously because of your anxiety.
              </div>
            </div>
            <div class="accordion">
              <div class="accordion__item">
                <div class="accordion__header js-toggle">
                  <h4 class="accordion__title">1</h4>
                  <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                    <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                  </svg>
                </div>
                <div class="accordion__body">
                  <div class="accordion__pic">
                    <img src="img/content/audio/audio.jpg" alt="">
                  </div>
                  <div class="accordion__content">
                    <p>
                      This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                            beats technology playing subtly in the background to help you reach a
                            <b>very</b> deep state of calm and relaxation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion__item">
                <div class="accordion__header js-toggle">
                  <h4 class="accordion__title">
                   2
                  </h4>
                  <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                    <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                  </svg>
                </div>
                <div class="accordion__body">
                  <div class="accordion__pic">
                    <img src="img/content/audio/audio.jpg" alt="">
                  </div>
                  <div class="accordion__content">
                    <p>
                      This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                            beats technology playing subtly in the background to help you reach a
                            <b>very</b> deep state of calm and relaxation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion__item">
                <div class="accordion__header js-toggle">
                  <h4 class="accordion__title">
                  3
                  </h4>
                  <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                    <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                  </svg>
                </div>
                <div class="accordion__body">
                  <div class="accordion__pic">
                    <img src="img/content/audio/audio.jpg" alt="">
                  </div>
                  <div class="accordion__content">
                    <p>
                      This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                            beats technology playing subtly in the background to help you reach a
                            <b>very</b> deep state of calm and relaxation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-app__wrapper ">
            <div class="slider-app__item">
              <div class="slider-app__title">
                <h3>Travel</h3>
              </div>
              <div class="slider-app__pic">
                  <img src="img/content/program/fly.png" alt="">
              </div>
              <div class="slider-app__body">
                <div class="slider-app__text">
                  You will learn how to quickly release deep seated anxiety and tension. 
                  Two of the audios in this section use binaural beat technology to help you relax to a much deeper level than you may have been able to reach previously because of your anxiety.
                </div>
              </div>
                          <div class="slider-app__footer">
              <h3 class="title-bold">
                  audios in this section
              </h3>
              <div class="accordion">
                <div class="accordion__item">
                  <div class="accordion__header js-toggle">
                    <h4 class="accordion__title">Travel 1</h4>
                    <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                      <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                    </svg>
                  </div>
                  <div class="accordion__body">
                    <div class="accordion__pic">
                      <img src="img/content/audio/audio.jpg" alt="">
                    </div>
                    <div class="accordion__content">
                      <p>
                        This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                              beats technology playing subtly in the background to help you reach a
                              <b>very</b> deep state of calm and relaxation.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div class="accordion__header js-toggle">
                    <h4 class="accordion__title">
                      Travel 2
                    </h4>
                    <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                      <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                    </svg>
                  </div>
                  <div class="accordion__body">
                    <div class="accordion__pic">
                      <img src="img/content/audio/audio.jpg" alt="">
                    </div>
                    <div class="accordion__content">
                      <p>
                        This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                              beats technology playing subtly in the background to help you reach a
                              <b>very</b> deep state of calm and relaxation.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <div class="accordion__header js-toggle">
                    <h4 class="accordion__title">
                      Travel 3
                    </h4>
                    <svg class="accordion__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="14px" height="14px">
                      <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z" fill="#FFFFFF"></path>
                    </svg>
                  </div>
                  <div class="accordion__body">
                    <div class="accordion__pic">
                      <img src="img/content/audio/audio.jpg" alt="">
                    </div>
                    <div class="accordion__content">
                      <p>
                        This audio will help you to reach a very deep level of relaxation. It is a guided relaxation audio by Barry with Binaural
                              beats technology playing subtly in the background to help you reach a
                              <b>very</b> deep state of calm and relaxation.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
    
            </div>
          </div>
      </div>
  
      <div class="popup-wrapper">
        <div class="slider-controls">
          <h5>
            Swipe to see next feature
          </h5>
  
          <div class="slider-controls__in">
            <div class="js-prev-app">
              <svg class="arrows arrow-prev" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1" id="Capa_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 268.832 268.832" style="enable-background:new 0 0 268.832 268.832;"
                xml:space="preserve">
                <g>
                  <path d="M265.171,125.577l-80-80c-4.881-4.881-12.797-4.881-17.678,0c-4.882,4.882-4.882,12.796,0,17.678l58.661,58.661H12.5   c-6.903,0-12.5,5.597-12.5,12.5c0,6.902,5.597,12.5,12.5,12.5h213.654l-58.659,58.661c-4.882,4.882-4.882,12.796,0,17.678   c2.44,2.439,5.64,3.661,8.839,3.661s6.398-1.222,8.839-3.661l79.998-80C270.053,138.373,270.053,130.459,265.171,125.577z"
                    fill="#FFFFFF" />
                </g>
              </svg>
            </div>
            <div class="slider-cursor">
              <i class="icon icon-cursor"></i>
            </div>
            <div class="js-next-app">
  
              <svg class="arrows arrow-next" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1" id="Capa_1" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 268.832 268.832" style="enable-background:new 0 0 268.832 268.832;"
                xml:space="preserve">
                <g>
                  <path d="M265.171,125.577l-80-80c-4.881-4.881-12.797-4.881-17.678,0c-4.882,4.882-4.882,12.796,0,17.678l58.661,58.661H12.5   c-6.903,0-12.5,5.597-12.5,12.5c0,6.902,5.597,12.5,12.5,12.5h213.654l-58.659,58.661c-4.882,4.882-4.882,12.796,0,17.678   c2.44,2.439,5.64,3.661,8.839,3.661s6.398-1.222,8.839-3.661l79.998-80C270.053,138.373,270.053,130.459,265.171,125.577z"
                    fill="#FFFFFF" />
                </g>
              </svg>
  
            </div>
          </div>
        </div>
        <svg class="slider-close" id="audioClose" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          version="1.1" viewBox="0 0 21.9 21.9" enable-background="new 0 0 21.9 21.9" width="18px" height="18px">
          <path d="M14.1,11.3c-0.2-0.2-0.2-0.5,0-0.7l7.5-7.5c0.2-0.2,0.3-0.5,0.3-0.7s-0.1-0.5-0.3-0.7l-1.4-1.4C20,0.1,19.7,0,19.5,0  c-0.3,0-0.5,0.1-0.7,0.3l-7.5,7.5c-0.2,0.2-0.5,0.2-0.7,0L3.1,0.3C2.9,0.1,2.6,0,2.4,0S1.9,0.1,1.7,0.3L0.3,1.7C0.1,1.9,0,2.2,0,2.4  s0.1,0.5,0.3,0.7l7.5,7.5c0.2,0.2,0.2,0.5,0,0.7l-7.5,7.5C0.1,19,0,19.3,0,19.5s0.1,0.5,0.3,0.7l1.4,1.4c0.2,0.2,0.5,0.3,0.7,0.3  s0.5-0.1,0.7-0.3l7.5-7.5c0.2-0.2,0.5-0.2,0.7,0l7.5,7.5c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3l1.4-1.4c0.2-0.2,0.3-0.5,0.3-0.7  s-0.1-0.5-0.3-0.7L14.1,11.3z"
            fill="#FFFFFF"></path>
        </svg>
      </div>
    </div>
  </div>