.coaching
  // padding: 50px 0
  position: relative
  &__in
    max-width: 975px
    position: relative
    // img
    //   height: auto
    //   width: 100%
    //   position: absolute
    //   max-width: 350px

  &__top,
  &__bottom
    position: absolute
    width: 100%
    left: 0
  &__top
    bottom: 100%
  &__bottom
    transform: translateY(1px) scale(-1)
    bottom: 0
    z-index: 1
  &__footer
    position: relative
    z-index: 11
    +r(1024)
      text-align: center
  &__pic
    position: absolute
    bottom: 0
    // height: 625px
    height: 100%
    max-width: 409px
    width: 100%
    z-index: 0
    +r(1024)
      height: 450px
      left: 0
      right: 0
      margin: auto
      text-align: center
    +xs
      height: 380px
    img
      height: 675px
      width: auto
      +r(1024)
        height: 100%
      // max-width: 100%
      // max-height: 100%
  &:nth-child(odd)
    margin: 150px 0 60px 0
    padding: 60px 0 150px 0
    background-image: linear-gradient(to top, #bb4077 0%, #ec5068 100%)
    color: $WHITE
    +sm
      margin: 50px 0
      padding-top: 50px
    .coaching__pic
      transform: translateY(-34px)
      right: 0
      +r(1024)
        transform: translateY(150px)
    .btn-secondary
      span
        color: white
    .coaching__col
      padding-right: 52%
      +r(1024)
        padding-right: 0
        padding-bottom: 80%
      +xs
        padding-bottom: 100%
    .price
      &:before
        background-color: rgba(255,255,255,0.3)
  &:nth-child(even)
    color: $BLACK
    margin: 60px 0
    padding: 57px 0 100px
    +xs
      padding: 15px 0
      margin: 0 0 120px 0
    .coaching__pic
      left: 0
      transform: translateY(4px)
      z-index: -1
      +r(1024)
        transform: translateY(175px)
    .btn-secondary
      rect
        stroke: #b73260
    .price__unit
      color: #b73260
    .coaching__top,
    .coaching__bottom
      display: none
    .coaching__title
      span
        color: #be4076
    .coaching__col
      padding-left: 52%
      +r(1024)
        padding-left: 0
        padding-bottom: 80%
      +xs
        padding-bottom: 100%
    .price
      &:before
        background-color: rgba(0,0,0,0.3)
  &__title
    span
      font-size: 19px
      margin-bottom: 8px
      display: block
      +xs
        font-size: 16px
        margin-bottom: 16px
    h2
      font-size: 35px
      font-weight: 400
      +xs
        font-size: 24px
      b
        font-weight: 800
  &__body
    p
      margin: 23px 0
      font-size: 16px
      font-weight: 500
      line-height: 26px
      +xs
        font-size: 15px
        line-height: 24px
        margin: 13px 0
.price
  max-width: 285px
  width: 100%
  @extend %flex
  margin: 38px 0 40px 0
  justify-content: space-between
  position: relative
  +r(1024)
    margin: 37px auto
  &:before
    content: ''
    z-index: 1
    display: block
    +vcenter
    width: 1px
    height: 100%
  &__unit
    display: block
    margin-bottom: 6px
    font-size: 20px
    text-transform: uppercase
  span
    font-size: 14px
.price__unit-purple
  color: #be4076