/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-appstore {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 170px;
  height: 69px;
}
.icon-basket {
  background-image: url(../img/sprite.png);
  background-position: -48px -69px;
  width: 23px;
  height: 20px;
}
.icon-example {
  background-image: url(../img/sprite.png);
  background-position: -71px -69px;
  width: 20px;
  height: 19px;
}
.icon-logo {
  background-image: url(../img/sprite.png);
  background-position: 0px -69px;
  width: 48px;
  height: 31px;
}

@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 192dpi) {
  .icon-appstore {
    background-image: url(../img/sprite@2x.png);
    background-size: 170px 100px;
  }
  .icon-basket {
    background-image: url(../img/sprite@2x.png);
    background-size: 170px 100px;
  }
  .icon-example {
    background-image: url(../img/sprite@2x.png);
    background-size: 170px 100px;
  }
  .icon-logo {
    background-image: url(../img/sprite@2x.png);
    background-size: 170px 100px;
  }
}
